@model IOAS.Models.OfficeOrderModel

<div class="row">
    <div class="col-md-12 mt-md">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td></td>
                    <td style="width:150px">Salary Head</td>
                    <td style="width:150px">Current Volume</td>
                    <td class="bg-blue">Affects Current Pay</td>
                    <td class="bg-blue">Revised Value</td>
                    <td class="bg-blue">Arrear From</td>
                    <td class="bg-blue">Arrear Pay / Date</td>
                    <td class="bg-blue">Remarks</td>
                </tr>
                <tr>
                    <td>
                        <b>Allowance</b>
                    </td>
                    <td>Basic</td>
                    <td>@Model.SalaryHead.Basic</td>
                    <td class="bg-blue">
                        <select class="form-control">
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </td>
                    <td class="bg-blue">
                        <input type="text" value="" class="form-control">
                    </td>
                    <td class="bg-blue">
                        <input type="text" value="" class="form-control">
                    </td>
                    <td class="bg-blue">
                        <input type="text" value="" class="form-control">
                    </td>
                    <td class="bg-blue">
                        <input type="text" value="" class="form-control">
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td>Medical All</td>
                    <td>@Model.SalaryHead.MA</td>
                    <td class="bg-blue">
                        <select class="form-control">
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </td>
                    <td class="bg-blue">
                        <input type="text" value="" class="form-control">
                    </td>
                    <td class="bg-blue">
                        <input type="text" value="" class="form-control">
                    </td>
                    <td class="bg-blue">
                        <input type="text" value="" class="form-control">
                    </td>
                    <td class="bg-blue">
                        <input type="text" value="" class="form-control">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>HRA</td>
                    <td>@Model.SalaryHead.HRA</td>
                    <td class="bg-blue">
                        <select class="form-control">
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </td>
                    <td class="bg-blue">
                        <input type="text" value="" class="form-control">
                    </td>
                    <td class="bg-blue">
                        <input type="text" value="" class="form-control">
                    </td>
                    <td class="bg-blue">
                        <input type="text" value="" class="form-control">
                    </td>
                    <td class="bg-blue">
                        <input type="text" value="" class="form-control">
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Deduction</b>
                    </td>
                    <td>EPF</td>
                    <td>@Model.SalaryHead.EPF</td>
                    <td class="bg-blue">
                        <select class="form-control">
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </td>
                    <td class="bg-blue">
                        <input type="text" value="" class="form-control">
                    </td>
                    <td class="bg-blue">
                        <input type="text" value="" class="form-control">
                    </td>
                    <td class="bg-blue">
                        <input type="text" value="" class="form-control">
                    </td>
                    <td class="bg-blue">
                        <input type="text" value="" class="form-control">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>Medical HRA</td>
                    <td>@Model.SalaryHead.MedicalInsurance</td>
                    <td class="bg-blue">
                        <select class="form-control">
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </td>
                    <td class="bg-blue">
                        <input type="text" value="" class="form-control">
                    </td>
                    <td class="bg-blue">
                        <input type="text" value="" class="form-control">
                    </td>
                    <td class="bg-blue">
                        <input type="text" value="" class="form-control">
                    </td>
                    <td class="bg-blue">
                        <input type="text" value="" class="form-control">
                    </td>
                </tr>
                </tr>
            </tbody>
        </table>

    </div>
</div>