
@model IOAS.Models.OfficeOrderModel
@{
    ViewBag.Title = "Add Office Order";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}

<div class="row hd-tt-bg">
    <div class="col-md-12">
        <h4><b>Office Order </b></h4>
    </div>
</div>
<aside class="right-side sidebar-offcanvas">
    @using (Html.BeginForm("AddEntry", "OfficeOrder", FormMethod.Post, new { @class = "form-horizontal", @id = "reportBuilder", @name = "reportBuilder", role = "form" }))
    {
        <div class="row">
            <div class="page-wrapper">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="white-bg">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group custom-form-group">
                                            @Html.DropDownListFor(m => m.OrderType, new SelectList(ViewBag.OrderType, "CodeValAbbr", "CodeValDetail"), "Select", new { @class = "form-control", @required = "required" })
                                            <div class="txt-error txt-red">
                                                @Html.ValidationMessageFor(m => m.OrderType)
                                            </div>
                                        </div>
                                        <div class="form-group custom-form-group">
                                            @Html.LabelFor(m => m.OrderNumber)
                                            @Html.TextBoxFor(m => m.OrderNumber, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group custom-form-group">
                                            @Html.LabelFor(m => m.OrderDate)
                                            @Html.EditorFor(m => m.OrderDate, null, "OrderDate", new { @class = "form-control", @value = @Model.OrderDate.ToString("yyyy-MM-dd") })
                                            <div class="txt-error txt-red">
                                                @Html.ValidationMessageFor(m => m.OrderDate)
                                            </div>
                                        </div>
                                        <div class="form-group custom-form-group">
                                            @Html.LabelFor(m => m.OrderFor)
                                            @Html.TextBoxFor(m => m.OrderFor, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-9">

                            <div class="vh-tt-bg vh-tt-bg-adj">
                                <div class="vh-tt-tb">
                                    <div class="vh-icon">
                                        <i class="icon-admin-role"></i>
                                        <span>Emp No / Name</span>
                                        @Html.DropDownListFor(M => M.EmployeeId, new SelectList(ViewBag.EmpList, "EmployeeId", "EmployeeName"), "Select", new {  @class = "form-control", @required = "required", onchange = "this.form.submit();" })
                                        <div class="txt-error txt-red">@Html.ValidationMessageFor(M => M.EmployeeId)</div>
                                    </div>
                                    <div class="vh-dts">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="txt-dts">
                                                    <label>PAN</label>
                                                    <h4 class="mb-lg">@Model.EmpInfo.MobileNumber</h4>
                                                </div>
                                                <div class="txt-dts">
                                                    <label> Bank Ac </label>
                                                    <h4>@Model.EmpInfo.BankAccountNo</h4>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="txt-dts">
                                                    <label>Gender</label>
                                                    <h4 class="mb-lg">2001EN45ABN</h4>
                                                </div>
                                                <div class="txt-dts">
                                                    <label>Bank</label>
                                                    <h4 class="mb-lg">@Model.EmpInfo.BankName </h4>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="txt-dts">
                                                    <label>Designation</label>
                                                    <h4 class="mb-lg">@Model.EmpInfo.DesignationName</h4>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="vh-frm-bg">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group custom-form-group">
                                                <label>Attachments :</label>
                                                <input type="file">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group custom-form-group">
                                                <label>Remarks :</label>
                                                @Html.TextAreaFor(m => m.Remarks, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12 mt-md">
                            @Html.Partial("_SalaryHeadPartial")
                        @*</div>
                        <div class="col-md-7 mt-md">
                            @Html.Partial("_SalaryRevisionPartial")*@
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mb-lg text-center">
                            @*<a href="#" class="btn btn-primary">Submit</a>*@
                            <button type="submit" class="btn btn-default" name="Button" value="Submit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    }
</aside>

<script type="text/javascript">

</script>