@model IOAS.Models.CommitmentResultModel

<div class="row mt30">
    <div id="PopCommitDetail" class="modal modal-pr-vw fade" role="dialog">

        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="btnInvardClose" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Commitment Details</h3>
                </div>
                <div class="modal-body">
                    <div class="custom-jsgrid-normal">
                        <div class="row">
                            <div class="page-wrapper">
                                <div class="col-md-8">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <div class="classic-box  mb-md">
                                                <div class="tb-tt">
                                                    <div class="form-group custom-form-group">
                                                        <h4>Commitment No</h4>
                                                        <label>@Model.CommitmentNo</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group custom-form-group">
                                                <label>Commitment Type:</label>
                                                <label>@Model.CommitmentType</label>
                                                @Html.HiddenFor(m=>m.CommitmentType, new { @id = "CommitmentType" })
                                                @Html.HiddenFor(m => m.ComitmentId, new { @id = "hdnCommitId" })
                                                @Html.HiddenFor(m => m.Action, new { @id = "hdnAction" })
                                                @Html.HiddenFor(m => m.Status, new { @id = "hdnStatus" })
                                            </div>
                                        </div>
                                      
                                        <div class="col-md-6 menu-hide" id="staffCommit">
                                            <div class="form-group custom-form-group">
                                                <label >Purpose:</label>
                                                <label>@Model.Purpose</label>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group custom-form-group">
                                                    <label>Start Date:</label>
                                                    <label>@Model.StartDate</label>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group custom-form-group">
                                                    <label class="required">Close Date</label>
                                                    <label>@Model.CloseDate</label>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group custom-form-group">
                                                    <label class="required">Basic Pay</label>
                                                    <label>@Model.BasicPay</label>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group custom-form-group">
                                                    <label class="required">Medical Allowance</label>
                                                    <label>@Model.MedicalAllowance</label>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group custom-form-group">
                                                    <label class="required">Employee Name</label>
                                                    <label>@Model.EmployeeName</label>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group custom-form-group">
                                                    <label class="required">Total</label>
                                                    <label>@Model.Total</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 menu-hide" id="geneCommit">
                                            <div class="form-group custom-form-group">
                                                <label >Remarks:</label>
                                                <label>@Model.Remarks</label>
                                               @* @Html.TextAreaFor(m => m.Remarks, new { @text = "multiline", @class = "form-control" })*@
                                            </div>
                                        </div>





                                        <div class="menu-hide" id="purchaseCommit">
                                            <div class="col-md-6">
                                                <div class="form-group custom-form-group">
                                                    <label >PO number:</label>
                                                    <label>@Model.PONumber</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group custom-form-group">
                                                    <label >Vendor Name:</label>
                                                    <label>@Model.VendorName</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="menu-hide" id="ForeginCommit">
                                            <div class="col-md-6">
                                                <div class="form-group custom-form-group">
                                                    <label >Currency:</label>
                                                    <label>@Model.Currency</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group custom-form-group">
                                                    <label>Conversion Rate: (As on date booked)</label>
                                                    <label>@Model.CurrencyRate</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group custom-form-group">
                                                <label >Allocation Head:</label>
                                                <label>@Model.AllocationHead</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group custom-form-group">
                                                <label >Allocation Value:</label>
                                                <label>@Model.AllocationValue</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group custom-form-group">
                                                <label >Project Type:</label>
                                                <label>@Model.ProjectType</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group custom-form-group">
                                                <label >Project Number:</label>
                                                <label>@Model.projectNumber</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group custom-form-group">
                                                <label >Request Reference:</label>
                                                <label>@Model.RequestRef</label>
                                                @Html.HiddenFor(m => m.RequestRef, new { @id="hdnReqRef"})
                                            </div>
                                        </div>
                                        <div class="col-md-6" id="divRefNo">
                                            <div class="form-group custom-form-group">
                                                <label >Ref Number(WF / Tapal)</label>
                                                <label>@Model.RefNo</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6" id="divRefEmailDate">
                                            <div class="form-group custom-form-group">
                                                <label >Email Date</label>
                                                <label>@Model.EmailDate</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group custom-form-group">
                                                <label >Commitment Amount</label>
                                                <label>@Model.CommitmentAmount</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group custom-form-group">
                                                <label >Amount Spent </label>
                                                <label>@Model.AmountSpent</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group custom-form-group">
                                                <label class="required">Reason</label>
                                                @Html.DropDownListFor(M => M.Reason, new SelectList(ViewBag.Reason, "id", "name"), "Select Reason", new { @class = "form-control", @required = "required"})
                                                <div class="txt-error txt-red">@Html.ValidationMessageFor(M => M.Reason)</div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group custom-form-group">
                                                <label class="required">Remarks</label>
                                                @Html.TextAreaFor(M => M.strRemarks, new { @class = "form-control", @required = "required" })
                                                <div class="txt-error txt-red">@Html.ValidationMessageFor(M => M.strRemarks)</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 mt30">
                                    <div class="bl-lg-panel-box   pb-null">
                                        <div id="prjDetails">
                                            <div class="form-group custom-form-group mb-s-md mt-md">
                                                <label class="col-md-6">Title</label>
                                                <span class="col-md-6" id="spanTittle">@Model.prjDetails.ProjectTittle</span>
                                            </div>

                                            <div class="form-group custom-form-group mb-s-md">
                                                <label class="col-md-6">PI Name</label>
                                                <span class="col-md-6" id="spanPIName">@Model.prjDetails.PIname</span>
                                            </div>

                                            <div class="form-group custom-form-group mb-s-md">
                                                <label class="col-md-6">Sanctioned Value</label>
                                                <span class="col-md-6 " id="spanSanValue">@Model.prjDetails.SanctionedValue</span>
                                            </div>

                                            <div class="form-group custom-form-group mb-s-md">
                                                <label class="col-md-6">Total Receipt</label>
                                                <span class="col-md-6 " id="spanTotReceipt">@Model.prjDetails.TotalReceipt</span>
                                            </div>

                                            <div class="form-group custom-form-group mb-s-md">
                                                <label class="col-md-6">Amount Spent</label>
                                                <span class="col-md-6 " id="spanAmtSpt">@Model.prjDetails.AmountSpent</span>
                                            </div>

                                            <div class="form-group custom-form-group mb-s-md">
                                                <label class="col-md-6">Available Balance</label>
                                                <span class="col-md-6 " id="spanAvailableBal">@Model.prjDetails.AvailableBalance</span>
                                            </div>

                                            <div class="form-group custom-form-group mb-s-md">
                                                <label class="col-md-6">Previous Commitment</label>
                                                <span class="col-md-6 " id="spanPrevious">@Model.prjDetails.PreviousCommitment</span>
                                            </div>

                                            <div class="form-group custom-form-group">
                                                <label class="col-md-6 hgt-txt">Net Balance</label>
                                                <span class="col-md-6 hgt-txt" id="spanNetBal">@Model.prjDetails.NetBalance</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-12 text-center pd-tb-30">
                         
                            <a role="button" class="btn btn-primary menu-hide" id="btnSubmit">Submit</a>
                            <input type="submit" class="btn btn-primary mr10" value="Close this commitment " name="Button" id="btnClosed" />
                            <input type="button" class="btn btn-default" value="Close" data-dismiss="modal" />

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
<div id="Update_CommitModal" class="modal fade" daria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close closepopup" data-dismiss="modal">
                    <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="edit-profile">
                    Do you really want to close this commitment?
                </h4>
            </div>
            @*<div class="modal-body">
               
            </div>*@
            <div class="modal-footer">

                <input type="submit" name="Button" value="Yes" class="btn btn-primary" id="btnYes" />&nbsp; &nbsp;<button type="button" class="btn btn-default" data-dismiss="modal">No</button>

            </div>
        </div>
    </div>
    }
</div>
<div id="SuccessPop" class="modal fade modal-success" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <i class="ion-android-checkmark-circle"></i>
                <h3 class="modal-title">Saved successfully</h3>
            </div>
            <div class="modal-body">

                <p id="alertSuccessPop"></p>

            </div>
            <div class="modal-footer">
                <a role="button" class="btn btn-default"  href="@Url.Action("ActiveCommitments","Account")">Close</a>
            </div>
        </div>

    </div>
</div>
<link href="@Url.Content("~/Content/IOASContent/assets/bootstrap-select/css/bootstrap-select.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Content/IOASContent/assets/bootstrap-select/js/bootstrap-select.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/FoolProof/mvcfoolproof.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">

    $(document).ready(function () {      
        $("#divRefEmailDate").addClass('menu-hide');   
        var Value = $("#CommitmentType").val();
        
        //Staff Commitment
        if (Value == "Staff Commitment") {
            $("#staffCommit").removeClass('menu-hide'); $("#geneCommit").removeClass('menu-hide');
            $("#purchaseCommit").addClass('menu-hide'); //$("#negativeCommit").addClass('menu-hide');
            $("#ForeginCommit").addClass('menu-hide');
        }
            //General Commitment
        else if (Value == "General Commitment") {
            $("#staffCommit").addClass('menu-hide'); $("#geneCommit").removeClass('menu-hide');
            $("#purchaseCommit").addClass('menu-hide');// $("#negativeCommit").addClass('menu-hide');
            $("#ForeginCommit").addClass('menu-hide');
        }
            //Purchase Commitment
        else if (Value == "General Commitment") {
            $("#staffCommit").addClass('menu-hide'); $("#geneCommit").addClass('menu-hide');
            $("#purchaseCommit").removeClass('menu-hide');// $("#negativeCommit").addClass('menu-hide');
            $("#ForeginCommit").addClass('menu-hide');
        }
            //Negative Balance Commitment
        else if (Value == "Negative Balance Commitment") {
            $("#staffCommit").addClass('menu-hide'); $("#geneCommit").removeClass('menu-hide');
            $("#purchaseCommit").addClass('menu-hide'); //$("#negativeCommit").removeClass('menu-hide');
            $("#ForeginCommit").addClass('menu-hide');
        }
            //Commitment in Foreign Currency with exchange
        else if (Value == "Commitment in Foreign Currency with exchange") {
            $("#staffCommit").addClass('menu-hide'); $("#geneCommit").addClass('menu-hide');
            $("#purchaseCommit").addClass('menu-hide'); //$("#negativeCommit").addClass('menu-hide');
            $("#ForeginCommit").removeClass('menu-hide');
        } else {
            $("#staffCommit").addClass('menu-hide'); $("#geneCommit").addClass('menu-hide');
            $("#purchaseCommit").addClass('menu-hide'); //$("#negativeCommit").addClass('menu-hide');
            $("#ForeginCommit").addClass('menu-hide');
        }

        var ReqestRef = $("#hdnReqRef").val();
        if (ReqestRef == "Email") {
            $("#divRefEmailDate").removeClass('menu-hide');
            $("#divRefNo").addClass('menu-hide');       
        } else {
            $("#divRefEmailDate").addClass('menu-hide');
            $("#divRefNo").removeClass('menu-hide');
        }

    });

    $("#btnShowFilter").click(function () {
        $('#popupCommitmentFilter').css("display", "Block");
    });

    @*$("#btnClosed").click(function () {
        
        var comitID=$("#hdnCommitId").val();
        var Action=$("#hdnAction").val();
        var data={"CommitmentID":comitID,"Action":Action}
        $.ajax({
            url: '@Url.Action("PopupUpdateCommitStatus", "Account")',
            type: 'POST',
            contentType: 'application/x-www-form-urlencoded',
            dataType: 'json',
            data: data,           
            success: function (result) {
                $("#popup").html(result);
                $('#Update_CommitModal').modal('toggle');
            },
            error: function (err) {
                console.log("error1 : " + err);
            }
        });
    });*@
    //$("#btnClosed").click(function () {
    //    $('#Update_CommitModal').modal('toggle');
    //});

    $("#btnClosed").click(function () {
        var commitId = $("#hdnCommitId").val();
        var Action = $("#hdnAction").val();
        var Status = $("#hdnStatus").val();
        var reason = $("#Reason").val();
        var remarks = $("#strRemarks").val();
        var data = { "CommitmentId": commitId, "Action": Action, "Status": Status, "Reason": reason, "Remarks": remarks }
        $.ajax({
            url: '@Url.Action("CloseCommitment", "Account")',
            type: 'POST',
            contentType: 'application/x-www-form-urlencoded',
            dataType: 'json',
            data: data,
            success: function (data) {
                if (data == 1) {
                    $("#alertSuccessPop").html("Successfully closed this commitment");
                    $('#SuccessPop').modal('show');
                } else {
                    $("#FailedAlert").text('Something went wrong, Please contact administrator');
                    $('#Failed').modal('show');
                }
            }
        });
    });

    @*$("#btnSuccClose").click(function(){
        window.location.href = '@Url.Action("Commitment","Account")';
    });*@
</script>