@model IOAS.Models.SRBItemcategory
@{
    ViewBag.Title = "SRBItemcategory";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}
@Styles.Render("~/bundles/JSGridCss")
@Scripts.Render("~/bundles/JSGrid")
<script src="@Url.Content("~/Scripts/Account/SRBItemcategory.js")"></script>
<div class="row hd-tt-bg" id="addnewpage">
    <div class="col-md-4">

        <h3>SRB Item Category</h3>

    </div>
    <div class="col-md-8 flt-nav-links">


        <a href="#" id="btnaddnew"> <i class="ion-plus"></i>Add New</a>

    </div>
</div>


    <div class="row">
    @using (Html.BeginForm("SRBItemcategory", "Account", FormMethod.Post, new { @class = "", role = "form", @id = "formCU", enctype = "multipart/form-data" }))
    {
        <div class="col-md-12">
            <div class="page-wrapper" id="Srbitemcate" style="display:none">
                <div class="white-bg">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group custom-form-group">
                                <label class="required">Item category</label>
                                @Html.TextBoxFor(M => M.Category, new { @class = "form-control", @id = "txtsrbcategoryname", @required = "required" })
                                <div class="txt-error txt-red"> @Html.ValidationMessageFor(M => M.Category)</div>
                                @Html.HiddenFor(M => M.SRBItemCategotyId, new { @id = "txtsrbcategoryid" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group custom-form-group">
                                <label>Asset_f</label>
                                @Html.CheckBoxFor(M => M.Asset_f, new { @class = "checkbox", @id = "chkassetflag" })
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12 text-center pd-tb-30">
                        <input type="submit" class="btn btn-primary mr10" value="Save" name="Button" id="btnSave" />
                        <input type="submit" class="btn btn-primary mr10" value="Update" name="Button" id="btnUpdate" style="display:none" />
                        <input type="button" onclick="window.location.href='@Url.Action("SRBItemcategory", "Account")';" class="btn btn-default" value="Close" name="Button" id="btnReset" />
                    </div>
                </div>
            </div>
        </div>
    <div class="row mt30" id="gridlist">
        <div class="col-md-12">
            <div class="page-wrapper">
                <div class="custom-jsgrid-normal">
                    <div id="SRBitemcate"></div>
                </div>
            </div>
        </div>
    </div>
    }
</div>

<div id="savemodal" class="modal fade modal-success" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <i class="ion-android-checkmark-circle"></i>
                <h3 class="modal-title">Created successfully</h3>
            </div>
            <div class="modal-body">

                <p>SRB item category Saved successfully</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<div id="warrningmodal" class="modal fade modal-warning" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <i class="ion-android-warning"></i>
                <h3 class="modal-title">SRB item category exists !.</h3>
            </div>
            <div class="modal-body">

                <p>@ViewBag.Msg</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<div id="updatemodal" class="modal fade modal-success" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <i class="ion-android-checkmark-circle"></i>
                <h3 class="modal-title">Updated successfully</h3>
            </div>
            <div class="modal-body">

                <p>SRB item name updated successfully</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="deletemodal" class="modal fade modal-success" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <i class="ion-android-checkmark-circle"></i>
                <h3 class="modal-title">Deleted successfully</h3>
            </div>
            <div class="modal-body">
                <p>SRB itemcategory  Deleted successfully</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="Errormodal" class="modal fade modal-error" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <i class="ion-android-cancel"></i>
                <h3 class="modal-title">Error Message</h3>
            </div>
            <div class="modal-body">

                <p>@ViewBag.error</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    $('#btnaddnew').on('click', function () {
        $('#Srbitemcate').show();
        $('#gridlist').hide();
        $('#addnewpage').hide();
        reset();
    });
    function reset(){
        $('#txtsrbcategoryname').val('');
        $('#chkassetflag').val('');
       
    }
    $(document).ready(function () {

        var add = '@ViewBag.success';
        if (add != '') {
            $('#savemodal').modal('show');
        }
        var warrning = '@ViewBag.Msg';
        if (warrning != '') {
            $('#warrningmodal').modal('show');
        }
        var update = '@ViewBag.update';
        if (update != '') {
            $('#updatemodal').modal('show');
        }
        var error = '@ViewBag.error';
        if (error != '') {
            $('#Errormodal').modal('show');
        }

    });
</script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>