@model IEnumerable<IOAS.Models.SRBItemDetailsModel>
@using System.Linq;
<div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th></th>
                        <th><b>Item Category</b></th>
                        <th><b>Item Name</b></th>
                        <th><b>Item Number</b></th>
                        <th><b>Quantity</b></th>
                        <th><b>Buyback Value</b></th>
                    </tr>

                    @foreach (var item in Model)
                    {

                        var chckBox = "chckBox_" + item.SRBDeactivationId;
                        var sellist = ViewBag.selItems as string[];
                        <tr>
                            <td>
                                @if (sellist.Contains(item.SRBDeactivationId.ToString()))
                                {
                                    <input type="checkbox" checked onclick="update(this)" id="@chckBox" />

                                }
                                else
                                {
                                    <input type="checkbox" onclick="update(this)" id="@chckBox" />
                                }
                            </td>                     
                            <td>
                                @Html.DisplayFor(m => item.ItemCategory)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.ItemName)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.ItemNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.Quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.BuybackValue)
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <a href="javascript:void(0)" class="close-btn clsSelectList">
        <i class="ion-android-cancel"></i>
    </a>
    
</div>
