
@model IOAS.Models.EmpITDeductionModel

<div class="row">
    <div class="col-md-12">
        <div class="grey-bg-adj mb-lg">
            <div class="row">
                <div class="col-md-12">
                    <table id="table80d" class="table alter-table mb-null">
                        <tbody>
                            <tr>
                                <th>
                                    SNO
                                </th>
                                <th>
                                    Particulars
                                </th>
                                <th>
                                    Max Limit
                                </th>
                                <th style="width:150px">Amount</th>
                            </tr>
                            @{
                                if (Model.ItList.Count > 0)
                                {
                                    int sno = 1;
                                    //foreach (var item in Model.ItList)
                                    for (int i = 0; i < Model.ItList.Count; i++)
                                    {
                                        if (Model.ItList[i].SectionName != "80C" && Model.ItList[i].SectionName != "80CCC")
                                        {
                                            //i++;
                                            @Html.HiddenFor(modeItem => modeItem.ItList[i].DeclarationID)
                                            @Html.HiddenFor(modeItem => modeItem.ItList[i].SectionID)
                                            @Html.HiddenFor(modeItem => modeItem.ItList[i].MaxLimit)
                                            <tr>

                                                <td>
                                                    <label>@sno</label>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modeItem => modeItem.ItList[i].Particulars)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modeItem => modeItem.ItList[i].MaxLimit)
                                                </td>
                                                <td>
                                                    @Html.TextBox("ItList[" + @i + "].Amount", Model.ItList[i].Amount, new { @class = "form-control" })
                                                </td>
                                            </tr>
                                            sno = sno + 1;
                                        }


                                    }
                                }

                            }

                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6">
                                </td>
                            </tr>
                        </tfoot>
                    </table>



                </div>
            </div>
        </div>
    </div>
</div>


