@model IOAS.Models.TDSPaymentModel

@{
    ViewBag.Title = "TDS Payment";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}

@using (Html.BeginForm("TDSPayment", "CoreAccounts", FormMethod.Post, new { @class = "", role = "form", @id = "formTDSpayment", @enctype = "multipart/form-data" }))
{

    <div class="wrapper">
        <div class="main-content">
            <div class="rgt-cnt">
                <div class="row hd-tt-bg">
                    <div class="col-md-12">
                        <h4><b>TDS Payment</b></h4>
                        <ul class="nav nav-pills custom-nav-pills custom-spl-nav">
                            <li class="active" id="picDel"><a href="javascript:void(0)" id="firsttab" class="ml-null brd-rd-md firsttab">TDS Summary</a></li>
                            <li id="allOca" class="dis-none"><a href="javascript:void(0)" id="secondtab" class="brd-rd-md secondtab">Challan Details</a></li>
                            @*<li id="allOca1"><a href="javascript:void(0)" id="thirdtab" class="brd-rd-md thirdtab">Tab3</a></li>*@
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="page-wrapper ">
                        <div class="col-md-12 mt30 ">
                            <div id="tab-01" style="display: block;">
                                <div class="col-md-12">
                                    <div class="bl-lg-panel-box">
                                        <div class="cmn-panel-box">
                                            <div class="row cmn-panel-box-adj">

                                                <div class="col-md-3 ">
                                                    <div class="form-group custom-form-group mb-md">
                                                        <label class="required">From Date: </label>
                                                        @Html.EditorFor(m => m.FromDate, new { @class = "form-control required", @id = "fromdate", @autocomplete = "off" })
                                                        @*@Html.HiddenFor(m => m.FromDate)*@
                                                        @Html.HiddenFor(m => m.TDSPaymentId, new { @id = "TDSid" })
                                                        @Html.HiddenFor(m => m.FinalPayment, new { @id = "finalpayment" })
                                                        @Html.HiddenFor(m => m.TDSPaymentNumber)
                                                        @Html.ValidationMessageFor(m => m.FromDate)

                                                    </div>
                                                    <div class="form-group custom-form-group mb-null ">
                                                        <label class="required">Category: </label>
                                                        @Html.DropDownListFor(m => m.Category, new SelectList(ViewBag.CategoryList, "id", "name"), "Select any", new { @class = "form-control required", @id = "Category" })
                                                        @Html.ValidationMessageFor(m => m.Category)
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group custom-form-group mb-md">
                                                        <label class="required">To Date: </label>
                                                        @Html.EditorFor(m => m.ToDate, new { @class = "form-control required", @id = "todate", @autocomplete = "off" })
                                                        @Html.HiddenFor(m => m.ToDate)
                                                        @Html.ValidationMessageFor(m => m.ToDate)

                                                    </div>
                                                    <div class="form-group custom-form-group mb-null ">
                                                        <label>Section: </label>
                                                        @Html.DropDownListFor(m => m.Section, new SelectList(ViewBag.SectionList, "HeadId", "Head"), "NA", new { @class = "form-control", @id = "Section" })
                                                        @Html.ValidationMessageFor(m => m.Section)
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group custom-form-group mb-null ">
                                                        <label class="required">Bank: </label>
                                                        @Html.DropDownListFor(m => m.BankId, new SelectList(ViewBag.BankList, "id", "name"), "Select Bank", new { @class = "form-control required", @id = "bankid" })
                                                        @Html.ValidationMessageFor(m => m.BankId)
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group custom-form-group mb-md">
                                                        <div class="reg-no custom-reg-no">
                                                            <label> TDS Payment Ref.No</label>
                                                            <h4>@Html.DisplayFor(m => m.TDSPaymentNumber)</h4>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>


                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-12" id="incometaxheading">
                                                            <h3 class="mt-null">TDS-Income Tax</h3>
                                                        </div>
                                                        <div class="col-md-12" id="gstheading">
                                                            <h3 class="mt-null">TDS-GST</h3>
                                                        </div>
                                                    </div>
                                                    <div class="grey-bg-adj bc-td-bg mb-lg">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="bk-tb-scrl">
                                                                    <table class="table table-bordered mb-null" id="tdsincometaxtable">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td></td>
                                                                                <td>Party</td>
                                                                                <td>PAN</td>
                                                                                @*<td>Type</td>*@
                                                                                <td>Reference No</td>
                                                                                <td>Date Of Transaction</td>
                                                                                <td>TDS Amount</td>
                                                                            </tr>
                                                                            @if (Model.Category == 1)
                                                                            {

                                                                                if (Model.TDSIncomeTax != null)
                                                                                {
                                                                                    var count = 0;
                                                                                    foreach (var item in Model.TDSIncomeTax)
                                                                                    {
                                                                                        var boaid = "TDSIncomeTax[" + count + "].BoaTransId";
                                                                                        var party = "TDSIncomeTax[" + count + "].Party";
                                                                                        var checkbox = "TDSIncomeTax[" + count + "].TDSCheckbox";
                                                                                        var pan = "TDSIncomeTax[" + count + "].PAN";
                                                                                        //var typenmae = "TDSIncomeTax[" + count + "].TypeName";
                                                                                        // var type = "TDSIncomeTax[" + count + "].Type";
                                                                                        var refno = "TDSIncomeTax[" + count + "].ReferenceNo";
                                                                                        var dateoftrans = "TDSIncomeTax[" + count + "].DateOfTransaction";
                                                                                        var amount = "TDSIncomeTax[" + count + "].TDSAmount";

                                                                                        <tr id="inputrow">
                                                                                            <td>
                                                                                                @Html.CheckBox(@checkbox, item.TDSCheckbox, new { @id = "tdscheckbox" })
                                                                                                @Html.Hidden(@boaid, item.BoaTransId)
                                                                                                @*@Html.Hidden(@type, item.Type)*@
                                                                                                @Html.Hidden(@amount, item.TDSAmount)
                                                                                                @Html.Hidden(@dateoftrans, item.DateOfTransaction)
                                                                                                @Html.Hidden(@refno, item.ReferenceNo)
                                                                                                @Html.Hidden(@pan, item.PAN)
                                                                                                @Html.Hidden(@party, item.Party)
                                                                                                @Html.Hidden("TDSIncomeTax.SlNo", @count)
                                                                                            </td>
                                                                                            <td>

                                                                                                @Html.DisplayFor(m => item.Party)
                                                                                            </td>
                                                                                            <td>

                                                                                                @Html.DisplayFor(m => item.PAN)
                                                                                            </td>
                                                                                            @*<td>

                                                                                                    @Html.DisplayFor(m => item.TypeName)
                                                                                                </td>*@
                                                                                            <td>

                                                                                                @Html.DisplayFor(m => item.ReferenceNo)
                                                                                            </td>
                                                                                            <td>

                                                                                                @Html.DisplayFor(m => item.DateOfTransaction)
                                                                                            </td>
                                                                                            <td>

                                                                                                @Html.DisplayFor(m => item.TDSAmount)
                                                                                            </td>
                                                                                        </tr>
                                                                                        count++;

                                                                                    }
                                                                                }
                                                                            }
                                                                        </tbody>

                                                                    </table>
                                                                    <table class="table table-bordered mb-null" id="tdsgsttable">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td></td>
                                                                                <td>Reference No</td>
                                                                                <td>Party</td>
                                                                                <td>GST</td>
                                                                                <td>Date Of Transaction</td>
                                                                                <td>TDS Amount</td>
                                                                            </tr>
                                                                            @if (Model.Category == 2)
                                                                            {
                                                                                if (Model.TDSGST != null)
                                                                                {
                                                                                    var count = 0;
                                                                                    foreach (var item in Model.TDSGST)
                                                                                    {
                                                                                        var headid = "TDSGST[" + count + "].GSTHeadId";
                                                                                        var boaid = "TDSGST[" + count + "].BoaTransId";
                                                                                        var party = "TDSGST[" + count + "].Party";
                                                                                        var checkbox = "TDSGST[" + count + "].TDSCheckbox";
                                                                                        var head = "TDSGST[" + count + "].GSTHead";
                                                                                        //var typename = "TDSGST[" + count + "].TypeName";
                                                                                        var refno = "TDSGST[" + count + "].ReferenceNo";
                                                                                        var dateoftrans = "TDSGST[" + count + "].DateOfTransaction";
                                                                                        var amount = "TDSGST[" + count + "].GSTAmount";

                                                                                        <tr id="inputrow">
                                                                                            <td>
                                                                                                @Html.CheckBox(@checkbox, item.TDSCheckbox, new { @id = "tdscheckbox" })
                                                                                                @Html.Hidden(@boaid, item.BoaTransId)
                                                                                                @*@Html.Hidden(@type, item.Type)*@
                                                                                                @Html.Hidden(@amount, item.GSTAmount)
                                                                                                @Html.Hidden(@dateoftrans, item.DateOfTransaction)
                                                                                                @Html.Hidden(@refno, item.ReferenceNo)
                                                                                                @Html.Hidden(@headid, item.GSTHeadId)
                                                                                                @*@Html.Hidden(@party, item.Party)*@
                                                                                                @Html.Hidden("TDSIncomeTax.SlNo", @count)
                                                                                            </td>
                                                                                            <td>

                                                                                                @Html.DisplayFor(m => item.ReferenceNo)
                                                                                            </td>
                                                                                            <td>

                                                                                                @Html.DisplayFor(m => item.Party)
                                                                                            </td>
                                                                                            <td>

                                                                                                @Html.DisplayFor(m => item.GSTHead)
                                                                                            </td>
                                                                                            <td>

                                                                                                @Html.DisplayFor(m => item.DateOfTransaction)
                                                                                            </td>

                                                                                            <td>

                                                                                                @Html.DisplayFor(m => item.GSTAmount)
                                                                                            </td>
                                                                                        </tr>
                                                                                        count++;

                                                                                    }
                                                                                }
                                                                            }
                                                                        </tbody>

                                                                    </table>
                                                                </div>
                                                                <div class="col-md-3 pull-right" id="TOTALTDS">
                                                                    <div class="reg-no custom-reg-no">
                                                                        <div class="form-group custom-form-group">
                                                                            <label>Total TDS-IncomeTax</label>
                                                                            @Html.TextBoxFor(m => m.TotalTDS, new { @class = "form-control", @id = "totaltds", @readonly = true })
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div id="TOTALGST">
                                                                    <div class="col-md-3 pull-right">
                                                                        <div class="reg-no custom-reg-no">
                                                                            <div class="form-group custom-form-group">
                                                                                <label>Total CGST</label>
                                                                                @Html.TextBoxFor(m => m.TotalCGST, new { @class = "form-control", @id = "totalcgst", @readonly = true })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3 pull-right">
                                                                        <div class="reg-no custom-reg-no">
                                                                            <div class="form-group custom-form-group">
                                                                                <label>Total SGST</label>
                                                                                @Html.TextBoxFor(m => m.TotalSGST, new { @class = "form-control", @id = "totalsgst", @readonly = true })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3 pull-right">
                                                                        <div class="reg-no custom-reg-no">
                                                                            <div class="form-group custom-form-group">
                                                                                <label>Total IGST</label>
                                                                                @Html.TextBoxFor(m => m.TotalIGST, new { @class = "form-control", @id = "totaligst", @readonly = true })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3 pull-right">
                                                                        <div class="reg-no custom-reg-no">
                                                                            <div class="form-group custom-form-group">
                                                                                <label>Total TDS-GST</label>
                                                                                @Html.TextBoxFor(m => m.TotalGST, new { @class = "form-control", @id = "totalgst", @readonly = true })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div id="TransactionTDS">
                                                        <h3 class="mt-null">Transaction TDS-IT</h3>
                                                        <div class="grey-bg-adj bc-td-bg mb-lg">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="col-md-3 pull-center">
                                                                        <div class="reg-no custom-reg-no">
                                                                            <div class="form-group custom-form-group">
                                                                                <label>Bank(Cr)</label>
                                                                                @Html.TextBoxFor(m => m.BankTransaction, new { @class = "form-control", @id = "banktrans", @readonly = true })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3 pull-center">
                                                                        <div class="reg-no custom-reg-no">
                                                                            <div class="form-group custom-form-group">
                                                                                <label>TDS(Dr)</label>
                                                                                @Html.TextBoxFor(m => m.TDSTransaction, new { @class = "form-control", @id = "tdstrans", @readonly = true })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div id="TransactionGST">
                                                        <h3 class="mt-null">Transaction GST</h3>

                                                        <div class="row">

                                                            <div class="col-md-3 pull-right">
                                                                <div class="reg-no custom-reg-no">
                                                                    <div class="form-group custom-form-group">
                                                                        <label>Bank(Cr)</label>
                                                                        @Html.TextBoxFor(m => m.BankGST, new { @class = "form-control", @id = "bankgst", @readonly = true })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 pull-right">
                                                                <div class="reg-no custom-reg-no">
                                                                    <div class="form-group custom-form-group">
                                                                        <label>CGST(Dr)</label>
                                                                        @Html.TextBoxFor(m => m.CGSTTrans, new { @class = "form-control", @id = "cgsttrans", @readonly = true })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 pull-right">
                                                                <div class="reg-no custom-reg-no">
                                                                    <div class="form-group custom-form-group">
                                                                        <label>IGST(Dr)</label>
                                                                        @Html.TextBoxFor(m => m.IGSTTrans, new { @class = "form-control", @id = "igsttrans", @readonly = true })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 pull-right">
                                                                <div class="reg-no custom-reg-no">
                                                                    <div class="form-group custom-form-group">
                                                                        <label>SGST(Dr)</label>
                                                                        @Html.TextBoxFor(m => m.SGSTTrans, new { @class = "form-control", @id = "sgsttrans", @readonly = true })
                                                                    </div>
                                                                </div>
                                                            </div>


                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div style="display: none;" id="tab-02">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <div class="bl-lg-panel-box pb-null">
                                        <div class="cmn-panel-box">
                                            <div class="row mb-md">
                                                <div class="col-md-3"></div>
                                                <div class="col-md-6">
                                                    <div class="form-group">

                                                        <label class="required">Date Of Payment: </label>
                                                        @Html.EditorFor(m => m.DateOfPayment, new { @class = "form-control required", @id = "dateofpayment", @autocomplete = "off" })
                                                        @Html.ValidationMessageFor(m => m.DateOfPayment)
                                                        @*@Html.HiddenFor(m => m.ToDate)*@
                                                    </div>
                                                    <div class="form-group">

                                                        <label class="required">Challan No: </label>
                                                        @Html.TextBoxFor(m => m.ChallanNo, new { @class = "form-control required", @id = "challanno", @autocomplete = "off" })
                                                        @Html.ValidationMessageFor(m => m.ChallanNo)
                                                    </div>
                                                    <div class="form-group">

                                                        <label class="required">Bank Reference No: </label>
                                                        @Html.TextBoxFor(m => m.BankRefNo, new { @class = "form-control required", @id = "bankrefno", @autocomplete = "off" })
                                                        @Html.ValidationMessageFor(m => m.BankRefNo)
                                                    </div>
                                                    <div class="form-group">

                                                        <label>Remarks: </label>
                                                        @Html.TextAreaFor(m => m.Remark, new { @class = "form-control", @id = "remarks", @autocomplete = "off" })
                                                    </div>
                                                    <div class="form-group">

                                                        <label class="required">Attachment: </label>
                                                        <input type="file" class="required" name="AttachmentFile" />
                                                        @Html.ValidationMessageFor(m => m.AttachmentFile)
                                                    </div>
                                                    <div class="form-group">
                                                        <a href="@Url.Action("ShowDocument","Project",new { file = Model.AttachmentName, filepath = Model.AttachmentPath })" target="_blank">@Model.AttachmentActualName</a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3"></div>
                            </div>

                        </div>
                        <div class="custom-nav-btn text-right" id="SubmitBtn">
                            @*<button type="button" class="btn btn-primary pull-right" onclick="formSave()">Submit</button>*@
                            <button type="button" class="btn btn-default pull-right" id="CloseBtn" onclick="window.location.href='@Url.Action("TDSPaymentList", "CoreAccounts")';">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
<script>


    var dis = '@ViewBag.disabled';
    if (dis != "") {
        $('.form-control').prop('disabled', true);
        $('.ion-trash-a').removeClass();

        $('#btnAddStudent').hide();
        $("input[type='radio']").prop('disabled', true);
        $('#selectCommitment').hide();
        $('#btnReset,#btnbookcommitment,#btnbookcommitment,#btnCollapseSrchCommit').hide();
        $('input[type="checkbox"]').prop('disabled', true);
        $('input[type="file"],#btnAddAttachment').hide();
        $('#ProcessStatusContainer .form-control').prop('disabled', false);
        $('#btnAddExpense').hide();
        $('.btn-circle').removeClass();
        $('.ion-close-round').removeClass();
    }
    $("#picDel").on("click", function () {
        $("#tab-01").css("display", "block");
        $("#tab-02").css("display", "none");
        $("#tab-03").css("display", "none");
        $("#tab-04").css("display", "none");
        $("#tab-05").css("display", "none");
        $("#picDel").addClass('active');
        $("#allOca").removeClass('active');
        $("#modEof").removeClass('active');
        $("#modEof1").removeClass('active');
        $("#allOca1").removeClass('active');
    });

    $("#allOca").on("click", function () {
        $("#tab-01").css("display", "none");
        $("#tab-02").css("display", "block");
        $("#tab-03").css("display", "none");
        $("#tab-04").css("display", "none");
        $("#tab-05").css("display", "none");
        $("#picDel").removeClass('active');
        $("#allOca").addClass('active');
        $("#modEof").removeClass('active');
        $("#modEof1").removeClass('active');
        $("#allOca1").removeClass('active');
    });

    $("#modEof").on("click", function () {
        $("#tab-01").css("display", "none");
        $("#tab-02").css("display", "none");
        $("#tab-03").css("display", "block");
        $("#tab-04").css("display", "none");
        $("#tab-05").css("display", "none");
        $("#picDel").removeClass('active');
        $("#allOca").removeClass('active');
        $("#modEof").addClass('active');
        $("#modEof1").removeClass('active');
        $("#allOca1").removeClass('active');
    });

    $("#modEof1").on("click", function () {
        $("#tab-01").css("display", "none");
        $("#tab-02").css("display", "none");
        $("#tab-03").css("display", "none");
        $("#tab-04").css("display", "block");
        $("#tab-05").css("display", "none");
        $("#picDel").removeClass('active');
        $("#allOca").removeClass('active');
        $("#modEof").removeClass('active');
        $("#modEof1").addClass('active');
        $("#allOca1").removeClass('active');
    });

    $("#allOca1").on("click", function () {
        $("#tab-01").css("display", "none");
        $("#tab-02").css("display", "none");
        $("#tab-03").css("display", "block");
        $("#tab-04").css("display", "none");
        $("#tab-05").css("display", "none");
        $("#picDel").removeClass('active');
        $("#allOca").removeClass('active');
        $("#modEof").removeClass('active');
        $("#modEof1").removeClass('active');
        $("#allOca1").addClass('active');
    });


///////////
    var TDSid = $("#TDSid").val();
    var Category = $("#Category").val();
    var payment = $("#finalpayment").val();
    $(document).ready(function () {

        if (payment==1)
        {
            $("#SubmitBtn").addClass('dis-none')
            $("#allOca").removeClass('dis-none');
            $("#tab-01").find('input[type="checkbox"]', 'input[type="radio"]', '.form-control', 'input[type="text"]').prop('disabled', true);
            $("#FromDate,#Category,#ToDate,#Section,#bankid").prop("readonly", true);
            $("#FromDate,#Category,#ToDate,#Section,#bankid").prop("disabled", true);
            $('.btn-circle').removeClass();
            $('.ion-close-round').removeClass();
        }

       if (TDSid == 0)
       {
           $("#tdsgsttable,#tdsincometaxtable,#TOTALTDS,#TOTALGST,#TransactionTDS,#TransactionGST,#incometaxheading,#gstheading").hide();
       }
       else if (TDSid > 0 && Category == 1)
       {
           $("#tdsgsttable,#gstheading,#TOTALGST,#TransactionGST").hide();
           $("#tdsincometaxtable,#TOTALTDS,#TransactionTDS,#incometaxheading").show();
       }
       else if (TDSid > 0 && Category == 2)
       {
           $("#tdsgsttable,#gstheading,#TOTALGST,#TransactionGST").show();
           $("#tdsincometaxtable,#TOTALTDS,#TransactionTDS,#incometaxheading").hide();
       }
   });

    $('#ToDate, #FromDate,#DateOfPayment').datepicker({ maxDate: 0, dateFormat: 'dd-MM-yy', changeYear: true });

    $("#Category").change(function () {
        var cate = $(this).val();
        if (cate == 1) {
            $.getJSON("@Url.Action("LoadSection", "CoreAccounts")",
                        function (locationdata) {
                            var select = $("#Section");
                            select.empty();
                            $.each(locationdata, function (index, itemData) {
                                select.append($('<option/>', {
                                    value: itemData.HeadId,
                                    text: itemData.Head
                                }));
                            });
                            select.selectpicker('refresh');
                        });
        }
        else {
            var select = $("#Section");
            select.empty();
            select.append($('<option/>', {
                value: 0,
                text: 'NA'
            }));
            select.selectpicker('refresh');
        }
    });
   // var headid = $("#Section").val();
    function LoadTDSIncomeTax(fromdate, todate, headid) {
        $("#tdsincometaxtable tr:not(:first)").empty();
        $.ajax({
            type: "POST",
            data: JSON.stringify({ 'fromdate': fromdate, 'todate': todate, 'headid': headid }),
            url: '@Url.Action("GetTDSIncomeTaxList", "CoreAccounts")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                var row;
                var totaltds = 0;
                $.each(result, function (i, v1) {
                    row += "<tr><td>" +
                         "<input type='checkbox' name='TDSIncomeTax[" + v1.SlNo + "].TDSCheckbox'  value='true' class='btn btn-info' checked/><input type='hidden' name='TDSIncomeTax[" + v1.SlNo + "].BoaTransId'  value=" + v1.BoaTransId + "><input type='hidden' name='TDSIncomeTax[" + v1.SlNo + "].Type'  value=" + v1.Type + "><input type='hidden' name='TDSIncomeTax[" + v1.SlNo + "].TDSAmount'  value=" + v1.TDSAmount + "><input type='hidden' name='TDSIncomeTax[" + v1.SlNo + "].Party'  value=" + v1.Party + "><input type='hidden' name='TDSIncomeTax[" + v1.SlNo + "].TDSAmount'  value=" + v1.TDSAmount + "><input type='hidden' name='TDSIncomeTax[" + v1.SlNo + "].PAN'  value=" + v1.PAN + "><input type='hidden' name='TDSIncomeTax[" + v1.SlNo + "].ReferenceNo'  value=" + v1.ReferenceNo + "><input type='hidden' name='TDSIncomeTax[" + v1.SlNo + "].DateOfTransaction'  value=" + v1.DateOfTransaction + ">"
                           + "</td><td>" + v1.Party + "</td><td>" + v1.PAN + "</td><td>" + v1.ReferenceNo + "</td><td>" + v1.DateOfTransaction +
                         "</td><td>" + v1.TDSAmount + "</td></tr>";

                    totaltds += v1.TDSAmount;
                });
                $("#totaltds").val(parseFloat(totaltds.toFixed(2)));
                $("#banktrans").val(parseFloat(totaltds.toFixed(2)));
                $("#tdstrans").val(parseFloat(totaltds.toFixed(2)));

                $("#tdsincometaxtable").append(row);

            },
        })

    }

    function LoadGST(fromdate, todate)
    {
        $("#tdsgsttable tr:not(:first)").empty();

        $.ajax({
            type: "POST",
            data: JSON.stringify({ 'fromdate': fromdate, 'todate': todate}),
            url: '@Url.Action("GetTDSGSTList", "CoreAccounts")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                var row;
                var totalgst = 0;
                var headid = 0;
                var amount = 0;
                var igst = 0;
                var cgst = 0;
                var sgst = 0;
                var tdcgst = 0;
                var tdsgst = 0;
                var tdigst = 0;
                $.each(result, function (i, v1) {
                    row += "<tr><td>" +
                         "<input type='checkbox' name='TDSGST[" + v1.SlNo + "].TDSCheckbox'  value='true' class='btn btn-info' checked/><input type='hidden' name='TDSGST[" + v1.SlNo + "].BoaTransId'  value=" + v1.BoaTransId + "><input type='hidden' name='TDSGST[" + v1.SlNo + "].Type'  value=" + v1.Type + "><input type='hidden' name='TDSGST[" + v1.SlNo + "].GSTAmount'  value=" + v1.GSTAmount + "><input type='hidden' name='TDSGST[" + v1.SlNo + "].GSTHeadId'  value=" + v1.GSTHeadId + "><input type='hidden' name='TDSGST[" + v1.SlNo + "].Party' value=" + v1.Party + "><input type='hidden' name='TDSGST[" + v1.SlNo + "].ReferenceNo' value=" + v1.ReferenceNo + "><input type='hidden' name='TDSGST[" + v1.SlNo + "].DateOfTransaction' value=" + v1.DateOfTransaction + ">"
                           + "</td><td>" + v1.ReferenceNo + "</td><td>" +
                           v1.Party
                           + "</td><td>" + v1.GSTHead + "</td><td>" +  v1.DateOfTransaction +
                         "</td><td>" + v1.GSTAmount + "</td></tr>";
                    totalgst += v1.GSTAmount;
                    if(v1.GSTHeadId==44){
                        tdcgst += v1.GSTAmount;
                    }
                    else if(v1.GSTHeadId==45){
                        tdsgst += v1.GSTAmount;
                    }
                    else if (v1.GSTHeadId == 46) {
                        tdigst += v1.GSTAmount;
                    }
                });
                $("#totalgst").val(parseFloat(totalgst).toFixed(2));
                $("#bankgst").val(parseFloat(totalgst).toFixed(2));
                $("#totalcgst").val(parseFloat(tdcgst).toFixed(2));
                $("#totalsgst").val(parseFloat(tdsgst).toFixed(2));
                $("#totaligst").val(parseFloat(tdigst).toFixed(2));
                $("#cgsttrans").val(parseFloat(tdcgst).toFixed(2));
                $("#igsttrans").val(parseFloat(tdigst).toFixed(2));
                $("#sgsttrans").val(parseFloat(tdsgst).toFixed(2));
                $("#tdsgsttable").append(row);

            },
        })
    }


    $(document).on('change', '#FromDate', function () {
        var fromdate = $("#FromDate").val();
        var todate = $("#ToDate").val();
        var headid = $("#Section").val();
        var Category = $("#Category").val();
        if (fromdate != "" && todate != "" && headid != "" &&Category==1)
        {
            $("#tdsgsttable,#gstheading,#TOTALGST,#TransactionGST").hide();
            $("#tdsincometaxtable,#TOTALTDS,#TransactionTDS,#incometaxheading").show();
            LoadTDSIncomeTax(fromdate, todate, headid);

        }
        else if (fromdate != "" && todate != "" && Category == 2) {
            $("#tdsgsttable,#gstheading,#TOTALGST,#TransactionGST").show();
            $("#tdsincometaxtable,#TOTALTDS,#TransactionTDS,#incometaxheading").hide();
            LoadGST(fromdate, todate);
        }

    });
    $(document).on('change', '#ToDate', function () {
        var fromdate = $("#FromDate").val();
        var todate = $("#ToDate").val();
        var headid = $("#Section").val();
        var Category = $("#Category").val();
        if (fromdate != "" && todate != "" && headid != "" && Category == 1) {
            $("#tdsgsttable,#gstheading,#TOTALGST,#TransactionGST").hide();
            $("#tdsincometaxtable,#TOTALTDS,#TransactionTDS,#incometaxheading").show();
            LoadTDSIncomeTax(fromdate, todate, headid);
        }
        else if (fromdate != "" && todate != "" && Category == 2) {
            $("#tdsgsttable,#gstheading,#TOTALGST,#TransactionGST").show();
            $("#tdsincometaxtable,#TOTALTDS,#TransactionTDS,#incometaxheading").hide();
            LoadGST(fromdate, todate);
        }
    });
    $(document).on('change', '#Section', function () {
        var fromdate = $("#FromDate").val();
        var todate = $("#ToDate").val();
        var headid = $("#Section").val();
        var Category = $("#Category").val();
        if (fromdate != "" && todate != "" && headid != "" && Category == 1) {
            $("#tdsgsttable,#gstheading,#TOTALGST,#TransactionGST").hide();
            $("#tdsincometaxtable,#TOTALTDS,#TransactionTDS,#incometaxheading").show();
            LoadTDSIncomeTax(fromdate, todate, headid);
        }
        else if (fromdate != "" && todate != "" && Category == 2) {
            $("#tdsgsttable,#gstheading,#TOTALGST,#TransactionGST").show();
            $("#tdsincometaxtable,#TOTALTDS,#TransactionTDS,#incometaxheading").hide();
            LoadGST(fromdate, todate);
        }
    });
    $(document).on('change', '#Category',function(){
        var fromdate = $("#FromDate").val();
        var todate = $("#ToDate").val();
        var Category = $("#Category").val();
        if (fromdate != "" && todate != "" && Category == 2) {
            $("#tdsgsttable,#gstheading,#TOTALGST,#TransactionGST").show();
            $("#tdsincometaxtable,#TOTALTDS,#TransactionTDS,#incometaxheading").hide();
            LoadGST(fromdate, todate);
        }
        else if (fromdate != "" && todate != "" && Category == 1) {
            $("#tdsgsttable,#TransactionGST,#tdsincometaxtable,#TOTALTDS,#TOTALGST,#TransactionTDS,#incometaxheading,#gstheading").hide();
        }
    })
    $(document).on('click', '#tdsincometaxtable input[type = "checkbox"]', function () {
        CalculateTDSAmount();
    });
    $(document).on('click', '#tdsgsttable input[type = "checkbox"]', function () {
        CalculateGSTAmount();
    });
    function CalculateTDSAmount() {
        var tdsamount = 0;
        var amount = 0;
        $('#tdsincometaxtable tr:not(:first)').each(function () {

            if ($(this).find('input[type = "checkbox"]').is(':checked')) {
                tdsamount = parseFloat($(this).find('td:nth-child(5)').text()) || 0;
                amount += tdsamount;
            }
        })
        $("#totaltds").val("");
        $("#totaltds").val(parseFloat(amount).toFixed(2));
        $("#banktrans").val(parseFloat(amount).toFixed(2));
        $("#tdstrans").val(parseFloat(amount).toFixed(2));
    }
    function CalculateGSTAmount() {
        var gstamount = 0;
        var amount = 0;
        var headid=0;
        var igst=0;
        var cgst=0;
        var sgst=0;
        var tdcgst=0;
        var tdsgst=0;
        var tdigst=0;
        $('#tdsgsttable tr:not(:first)').each(function () {

            if ($(this).find('input[type = "checkbox"]').is(':checked')) {
                gstamount = parseFloat($(this).find('td:nth-child(6)').text()) || 0;
                headid = $(this).closest('tr').find('[name$=".GSTHeadId"]').val();
                //head = head.replace(/^\s+|\s+$/g, '');
                amount += gstamount;
                if (headid ==44 ) {
                    cgst = parseFloat($(this).find('td:nth-child(6)').text()) || 0;
                    tdcgst += cgst;

                }
                else if (headid == 45) {
                    sgst = parseFloat($(this).find('td:nth-child(6)').text()) || 0;
                    tdsgst += sgst;

                }
                else if (headid == 46) {
                    igst = parseFloat($(this).find('td:nth-child(6)').text()) || 0;
                    tdigst += igst;
                }
            }
        })
        $("#totalgst").val(parseFloat(amount.toFixed(2)));
        $("#totalgst").val(parseFloat(amount.toFixed(2)));
        $("#bankgst").val(parseFloat(amount.toFixed(2)));
        $("#totalcgst").val(parseFloat(tdcgst.toFixed(2)));
        $("#totalsgst").val(parseFloat(tdsgst.toFixed(2)));
        $("#totaligst").val(parseFloat(tdigst.toFixed(2)));
        $("#cgsttrans").val(parseFloat(tdcgst.toFixed(2)));
        $("#igsttrans").val(parseFloat(tdigst.toFixed(2)));
        $("#sgsttrans").val(parseFloat(tdsgst.toFixed(2)));
    }

    function formSave()
    {
        $('#formTDSpayment').submit();
    }
    $(document).on('click', 'a.firsttab', function () {

        if (payment == 1) {
            $("#SubmitBtn").addClass('dis-none')
        }
    });
    $(document).on('click', 'a.secondtab', function () {
        $("#SubmitBtn").removeClass('dis-none')
    });
</script>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/FoolProof/mvcfoolproof.unobtrusive.min.js")" type="text/javascript"></script>
