@model IOAS.Models.ProjectViewDetailsModel
@using IOAS.Infrastructure
<div id="ProjectDetailModel" class="modal fade modal-pr-vw" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="row hd-tt-bg">
                    <div class="col-md-12">
                        <h4><b>Project Title : </b>@Model.prjSummary.ProjectTittle</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="white-bg ad-navbar">
                        <div class="col-md-3 ds-spl-bg">
                            <div class="ds-icn">
                                <i class="ion-ios-list-outline "></i>
                            </div>
                            <div class="ds-tt">
                                <span>Proposal Number</span>
                                <h4>@Model.prjSummary.ProposalNo</h4>
                            </div>
                        </div>

                        <div class="col-md-3 ds-spl-bg">
                            <div class="ds-icn">
                                <i class="ion-ios-calendar-outline"></i>
                            </div>
                            <div class="ds-tt">
                                <span>Financial Year</span>
                                <h4>@Model.prjSummary.FinancialYear</h4>
                            </div>
                        </div>

                        <div class="col-md-3 ds-spl-bg">
                            <div class="ds-icn">
                                <i class="ion-android-open"></i>
                            </div>
                            <div class="ds-tt">
                                <span>Project Type</span>
                                <h4>@Model.prjSummary.ProjectType</h4>
                            </div>
                        </div>

                        <div class="col-md-3 ds-spl-bg">
                            <div class="ds-icn">
                                <i class="ion-ios-time-outline"></i>
                            </div>
                            <div class="ds-tt">
                                <span>Date of Approval</span>
                                <h4>@Model.prjSummary.ProjectApprovalDate</h4>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="white-bg ad-navbar mt-m-xs mb-m-xs">
                        <div class="col-md-2">
                            <h4 class="sb-tt"><span>Sanction Order No</span><b>@Model.prjSummary.SanctionOrderNo</b></h4>
                        </div>
                        <div class="col-md-2">
                            <h4 class="sb-tt"><span>Sanction Order Date </span><b>@Model.prjSummary.SanctionOrderDate</b></h4>
                        </div>

                        <div class="col-md-2">
                            <h4 class="sb-tt"><span>Sanctioned Value</span><b>Rs.@Model.prjSummary.SanctionedValue</b></h4>
                        </div>
                        <div class="col-md-2">
                            <h4 class="sb-tt"><span>Amount Spent</span><b>Rs.@Model.prjSummary.AmountSpent</b></h4>
                        </div>
                        <div class="col-md-2">
                            <h4 class="sb-tt"><span>Net Balance </span><b>Rs.@Model.prjSummary.NetBalance</b></h4>
                        </div>
                        <div class="col-md-2">
                            <h4 class="sb-tt"><span>Project Duration</span><b>@Model.prjSummary.ProjectDuration Months</b></h4>
                        </div>

                    </div>
                </div>
            </div>

            <div class="modal-body">

                <div class="row">
                    <div class="page-wrapper">

                        <div class="col-md-12">

                            <div class="custom-tab-ul custom-tab-ul-md">
                                <ul class="nav nav-pills">
                                    <li class="active"><a href="#tab1" data-toggle="pill">Project Details</a></li>
                                    <li><a href="#tab2" data-toggle="pill">Categorization</a></li>
                                    <li><a href="#tab3" data-toggle="pill">Investigators</a></li>
                                    <li><a href="#tab4" data-toggle="pill">Budget</a></li>
                                    <li><a href="#tab5" data-toggle="pill">Staffs</a></li>
                                    <li><a href="#tab6" data-toggle="pill">Agency</a></li>
                                    <li><a href="#tab7" data-toggle="pill">Documents</a></li>
                                </ul>

                                <div class="tab-content white-bg">

                                    <div class="tab-pane fade active in" id="tab1">
                                        <div class="col-md-12 col-sm-12 m-b-sm">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group custom-form-group">
                                                        <label>Financial Year:</label>
                                                        <b>@Model.prjSummary.FinancialYear</b>
                                                    </div>
                                                </div>
                                                <div class="col-md-4" id="Proposalidfield">

                                                    <div class="form-group custom-form-group ">
                                                        <label> Proposal Number: </label>
                                                        <b>@Model.prjSummary.ProposalNo</b>
                                                    </div>

                                                </div>
                                                <div class="col-md-4" id="Projectidfield">

                                                    <div class="form-group custom-form-group ">
                                                        <label> Project Number: </label>
                                                        <b>@Model.prjSummary.ProjectNo</b>
                                                    </div>

                                                </div>

                                            </div>

                                            <div class="row">

                                                <div class="col-md-4">
                                                    <div class="form-group custom-form-group">
                                                        <label>Date of Approval:</label>
                                                        <b>@Model.prjSummary.ProjectApprovalDate</b>
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group custom-form-group">
                                                        <label>Sanction Date/Ref. Date/PO Date:</label>
                                                        <b>@Model.prjSummary.SanctionOrderDate</b>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group custom-form-group">
                                                        <label>Sanction No./Ref. No./PO. No: </label>
                                                        <b>@Model.prjSummary.SanctionOrderNo</b>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group custom-form-group">
                                                        <label>Base Value:</label>
                                                        <b>@Model.prjSummary.BaseValue</b>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group custom-form-group">
                                                        <label>Applicable Tax(%):</label>
                                                        <b>@Model.prjSummary.ApplicableTax</b>
                                                    </div>
                                                </div>
                                                <div id="divSanctionvalue" class="col-md-4 dis-none">

                                                    <div>
                                                        <label class="fn-normal">Total Sanctioned Value (inclusive of all enhancements):</label>
                                                    </div>
                                                    <b>@Model.prjSummary.SanctionedValue</b>
                                                </div>
                                            </div>





                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab2">
                                        <div class="col-md-12 col-sm-12 m-b-sm">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group custom-form-group">
                                                        <label>Project Type:</label>
                                                        <b>@Model.ProjectTypeName</b>
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group custom-form-group">
                                                        <label>Type of Project:</label>
                                                        <b>@Model.TypeOfProject</b>
                                                    </div>
                                                </div>
                                                <div class="col-md-4" id="CollabCoordinator">
                                                    <div class="form-group custom-form-group">
                                                        <label>Name of the Coordinator:</label>
                                                        <b>@Model.CoardinatorName</b>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">

                                                <div class="col-md-4" id="CollabAgency">
                                                    <div class="form-group custom-form-group">
                                                        <label>Insitute / Industry name:</label>
                                                        <b>@Model.InstituteOrIndustryName</b>
                                                    </div>
                                                </div>
                                                <div class="col-md-4" id="CollabCoordinatorEmail">
                                                    <div class="form-group custom-form-group">
                                                        <label>Email:</label>
                                                        <b>@Model.Email</b>
                                                    </div>
                                                </div>
                                                <div class="col-md-4" id="TotalCost">
                                                    <div class="form-group custom-form-group">
                                                        <label>Other Insitute / Industry Share:</label>
                                                        <b>@Model.OtherInstituteOrIndustryShare</b>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">

                                                <div class="col-md-4" id="IITMCost">
                                                    <div class="form-group custom-form-group">
                                                        <label>IITM Share:</label>
                                                        <b>@Model.IITMShare</b>
                                                    </div>
                                                </div>
                                            </div>
                                            @if (Model.ProjectTypeName == "Sponsored")
                                            {
                                                <div class="col-md-12 col-sm-12 m-b-sm" id="prjcttypespon">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <h3 class="spl-title"> Project type: Sponsored</h3>

                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group custom-form-group ">
                                                                <label> Project Sub Type </label>
                                                                <b>@Model.PrjAccountType</b>
                                                            </div>
                                                        </div>
                                                        @if (Model.PrjAccountType == "External")
                                                        {
                                                            <div class="col-md-4" id="sponextrnlscheme">
                                                                <div class="form-group custom-form-group">
                                                                    <label>Scheme</label>
                                                                    <b>@Model.Sheme</b>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4" id="sponextrnlschemecode">
                                                                <div class="form-group custom-form-group">
                                                                    <label>Scheme Code</label>
                                                                    <b>@Model.ShemeCode</b>
                                                                </div>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="col-md-4" id="internalagency">
                                                                <div class="form-group custom-form-group">
                                                                    <label>Internal Funding Agency</label>
                                                                </div>
                                                            </div>
                                                        }

                                                    </div>

                                                    <div class="row" id="prjctdetails1">

                                                        <div class="col-md-4">
                                                            <div class="form-group custom-form-group">
                                                                <label>Project Funding Type:</label><br>
                                                                <b>@Model.prjFundingType</b>
                                                            </div>
                                                        </div>

                                                        @if (@Model.prjFundingType == "Indian")
                                                        {
                                                            <div class="col-md-4" id="indprjctcategory_1">
                                                                <div class="form-group custom-form-group">
                                                                    <label> Project Category: </label><br>
                                                                    <b>@Model.prjCatagory</b>
                                                                </div>
                                                            </div>

                                                            @* if Funding type is selected as Indian*@
                                                            <div class="col-md-4" id="indprjctfundedby_1">
                                                                <div class="form-group custom-form-group">
                                                                    <label> Indian Project Funded By: </label><br>
                                                                    <b>@Model.FundedBy</b>
                                                                </div>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            @* if Funding type is selected as Foreign*@
                                                            <div class="col-md-4" id="forgnprjctfundedby_1">
                                                                <div class="form-group custom-form-group">
                                                                    <label>Foreign Project Funded By</label><br>

                                                                </div>
                                                            </div>
                                                        }


                                                        @if (Model.prjFundingType == "Indian" && @Model.FundedBy == "Government")
                                                        {
                                                            @* if Funding type is selected as Indian and funded by is selected as government*@

                                                            <div class="col-md-4" id="indprjctfundbodygovt_1">
                                                                <div class="form-group custom-form-group">
                                                                    <label>Indian Government Funding Body</label><br>


                                                                </div>
                                                            </div>
                                                        }
                                                        else if (Model.prjFundingType == "Indian" && @Model.FundedBy == "Non Government")
                                                        {
                                                            @* if Funding type is selected as Indian and funded by is selected as non government*@
                                                            <div class="col-md-4" id="indprjctfundbodynongovt_1">
                                                                <div class="form-group custom-form-group">
                                                                    <label>Indian Non Government Funding Body</label><br>

                                                                </div>
                                                            </div>
                                                        }
                                                        else if (Model.prjFundingType == "Indian" && @Model.FundedBy == "Both")
                                                        {
                                                            <div class="col-md-4" id="indprjctfundbodygovt_1">
                                                                <div class="form-group custom-form-group">
                                                                    <label>Indian Government Funding Body</label><br>


                                                                </div>
                                                            </div>
                                                            <div class="col-md-4" id="indprjctfundbodynongovt_1">
                                                                <div class="form-group custom-form-group">
                                                                    <label>Indian Non Government Funding Body</label><br>

                                                                </div>
                                                            </div>
                                                        }
                                                        else if (Model.prjFundingType == "Foreign" && @Model.FundedBy == "Government")
                                                        {
                                                            @* if Funding type is selected as Foreign and funded by is selected as government*@
                                                            <div class="col-md-4" id="forgnprjctfundbodygovt_1">
                                                                <div class="form-group custom-form-group">
                                                                    <label>Foreign Government Funding Body</label><br>

                                                                </div>
                                                            </div>
                                                        }
                                                        else if (Model.prjFundingType == "Foreign" && @Model.FundedBy == "Non Government")
                                                        {
                                                            @* if Funding type is selected as Foreign and funded by is selected as non government*@
                                                            <div class="col-md-4" id="forgnprjctfundbodynongovt_1">
                                                                <div class="form-group custom-form-group">
                                                                    <label>Foreign Non Government Funding Body</label><br>

                                                                </div>
                                                            </div>
                                                        }
                                                        else if (Model.prjFundingType == "Foreign" && @Model.FundedBy == "Both")
                                                        {
                                                            <div class="col-md-4" id="forgnprjctfundbodygovt_1">
                                                                <div class="form-group custom-form-group">
                                                                    <label>Foreign Government Funding Body</label><br>

                                                                </div>
                                                            </div>
                                                            <div class="col-md-4" id="forgnprjctfundbodynongovt_1">
                                                                <div class="form-group custom-form-group">
                                                                    <label>Foreign Non Government Funding Body</label><br>

                                                                </div>
                                                            </div>
                                                        }

                                                    </div>

                                                    <div class="row">
                                                        @* if Funding type is selected as Indian and funded by is selected as government and funding body is selected as MHRD *@
                                                        <div class="col-md-5" id="indprjctfundbodygovtagncydeptnam_1">
                                                            <div class="form-group custom-form-group">
                                                                <label>Indian Government Department</label><br>

                                                            </div>
                                                        </div>
                                                        <div class="col-md-4" id="indprjctfundbodygovtdeptamt_1">
                                                            <div class="form-group custom-form-group">
                                                                <label>Indian Govt. Department Amount</label><br>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        @* if Funding type is selected as Indian and funded by is selected as government and funding body is selected as ministry *@
                                                        <div class="col-md-5" id="indprjctfundbodygovtagncymnstrynam_1">
                                                            <div class="form-group custom-form-group">
                                                                <label>Indian Government Ministry</label><br>

                                                            </div>
                                                        </div>
                                                        <div class="col-md-4" id="indprjctfundbodygovtmnstryamt_1">
                                                            <div class="form-group custom-form-group">
                                                                <label>Indian Government Ministry Amount</label><br>

                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        @* if Funding type is selected as Indian and funded by is selected as government and funding body is selected as University *@
                                                        <div class="col-md-5" id="indprjctfundbodygovtunivnam_1">
                                                            <div class="form-group custom-form-group">
                                                                <label>Indian Government University</label><br>

                                                            </div>
                                                        </div>
                                                        <div class="col-md-4" id="indprjctfundbodygovtunivamt_1">
                                                            <div class="form-group custom-form-group">
                                                                <label>Indian Government University Amount</label><br>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        @* if Funding type is selected as Indian and funded by is selected as non government and funding body is selected as Industry *@
                                                        <div class="col-md-5" id="indprjctfundbodynongovtagncyindstrynam_1">
                                                            <div class="form-group custom-form-group">
                                                                <label>Indian Non Government Industry</label><br>

                                                            </div>
                                                        </div>
                                                        <div class="col-md-4" id="indprjctfundbodynongovtindstryamt_1">
                                                            <div class="form-group custom-form-group">
                                                                <label>Indian Non Govt. Industry Amount</label><br>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        @* if Funding type is selected as Indian and funded by is selected as non government and funding body is selected as University *@
                                                        <div class="col-md-5" id="indprjctfundbodynongovtunivnam_1">
                                                            <div class="form-group custom-form-group">
                                                                <label>Indian Non Government University</label><br>

                                                            </div>
                                                        </div>
                                                        <div class="col-md-4" id="indprjctfundbodynongovtunivamt_1">
                                                            <div class="form-group custom-form-group">
                                                                <label>Indian Non Govt Univ. Amount</label><br>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        @* if Funding type is selected as Indian and funded by is selected as non government and funding body is selected as Others *@
                                                        <div class="col-md-5" id="indprjctfundbodynongovtagncyothersnam_1">
                                                            <div class="form-group custom-form-group">
                                                                <label>Indian Non Government Agency</label><br>

                                                            </div>
                                                        </div>
                                                        <div class="col-md-4" id="indprjctfundbodynongovtothersamt_1">
                                                            <div class="form-group custom-form-group">
                                                                <label>Indian Non Govt. Agency Amount</label><br>

                                                            </div>
                                                        </div>

                                                    </div>

                                                    @* if Funding type is selected as Foreign and funded by is selected as government and funding body is selected as Department *@



                                                    @* if Funding type is selected as Foreign and funded by is selected as government and funding body is selected as Department *@
                                                    <div class="row">

                                                        <div class="col-md-4" id="forgnprjctfundbodygovtagncydeptnam_1">
                                                            <div class="form-group custom-form-group">
                                                                <label>Foreign Government Department</label><br>

                                                            </div>
                                                        </div>
                                                        <div class="col-md-4" id="forgnprjctfundbodygovtcntry_1">

                                                            <div class="form-group custom-form-group">
                                                                <label>Country</label><br>

                                                            </div>

                                                        </div>
                                                        <div class="col-md-4" id="forgnprjctfundbodygovtdeptamt_1">
                                                            <div class="form-group custom-form-group">
                                                                <label>Foreign Govt. Department Amount</label><br>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        @* if Funding type is selected as Foreign and funded by is selected as government and funding body is selected as University *@

                                                        <div class="col-md-4" id="forgnprjctfundbodygovtagncyunivnam_1">
                                                            <div class="form-group custom-form-group">
                                                                <label>Foreign Government University</label><br>

                                                            </div>
                                                        </div>
                                                        <div class="col-md-4" id="forgnprjctfundbodygovtunivcntry_1">

                                                            <div class="form-group custom-form-group">
                                                                <label>Country</label><br>

                                                            </div>

                                                        </div>
                                                        <div class="col-md-4" id="forgnprjctfundbodygovtunivamt_1">
                                                            <div class="form-group custom-form-group">

                                                                <label>Foreign Govt. Univ. Amount</label><br>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        @* if Funding type is selected as Foreign and funded by is selected as government and funding body is selected as Others *@

                                                        <div class="col-md-4" id="forgnprjctfundbodygovtagncyothrsnam_1">
                                                            <div class="form-group custom-form-group">
                                                                <label>Foreign Government Agency</label><br>

                                                            </div>
                                                        </div>
                                                        <div class="col-md-4" id="forgnprjctfundbodygovtothrscntry_1">

                                                            <div class="form-group custom-form-group">
                                                                <label>Country</label><br>

                                                            </div>

                                                        </div>
                                                        <div class="col-md-4" id="forgnprjctfundbodygovtothrsamt_1">
                                                            <div class="form-group custom-form-group">
                                                                <label>Foreign Govt. Agency Amount</label><br>

                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="row">
                                                        @* if Funding type is selected as Foreign and funded by is selected as non government and funding body is selected as Department *@


                                                        <div class="col-md-4" id="forgnprjctfundbodynongovtagncydeptnam_1">
                                                            <div class="form-group custom-form-group">
                                                                <label>Foreign Non Government Department</label><br>

                                                            </div>
                                                        </div>
                                                        <div class="col-md-4" id="forgnprjctfundbodynongovtcntry_1">

                                                            <div class="form-group custom-form-group">
                                                                <label>Country</label><br>

                                                            </div>

                                                        </div>
                                                        <div class="col-md-4" id="forgnprjctfundbodynongovtdeptamt_1">
                                                            <div class="form-group custom-form-group">
                                                                <label>Foreign Non Govt. Dept. Amount</label><br>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        @* if Funding type is selected as Foreign and funded by is selected as government and funding body is selected as University *@

                                                        <div class="col-md-4" id="forgnprjctfundbodynongovtagncyunivnam_1">
                                                            <div class="form-group custom-form-group">
                                                                <label>Foreign Non Government University</label><br>

                                                            </div>
                                                        </div>
                                                        <div class="col-md-4" id="forgnprjctfundbodynongovtunivcntry_1">

                                                            <div class="form-group custom-form-group">
                                                                <label>Country</label><br>

                                                            </div>

                                                        </div>
                                                        <div class="col-md-4" id="forgnprjctfundbodynongovtunivamt_1">
                                                            <div class="form-group custom-form-group">
                                                                <label>Foreign Non Govt. Univ. Amount</label><br>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    @* if Funding type is selected as Foreign and funded by is selected as government and funding body is selected as Others *@
                                                    <div class="row">
                                                        <div class="col-md-4" id="forgnprjctfundbodynongovtagncyothrsnam_1">
                                                            <div class="form-group custom-form-group">
                                                                <label>Foreign Non Government Other Agency name</label><br>

                                                            </div>
                                                        </div>
                                                        <div class="col-md-4" id="forgnprjctfundbodynongovtothrscntry_1">
                                                            <div class="form-group custom-form-group">
                                                                <label>Country</label><br>

                                                            </div>

                                                        </div>
                                                        <div class="col-md-4" id="forgnprjctfundbodynongovtothrsamt_1">
                                                            <div class="form-group custom-form-group">
                                                                <label>Foreign Non Govt. Agency Amount</label><br>

                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                            }
                                            else
                                            {
                                                <div class="col-md-12 col-sm-12 m-b-sm" id="prjcttypeconsul">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <h3 class="spl-title"> Project type: Consultancy </h3>

                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4" id="prjctdetails2">
                                                            <div class="form-group custom-form-group">
                                                                <label>Project Funding Type</label>

                                                            </div>
                                                        </div>
                                                        <div class="col-md-4" id="forgncurrencytype">
                                                            <div class="form-group custom-form-group">
                                                                <label>Currency Type</label>

                                                            </div>
                                                        </div>
                                                        <div class="col-md-4" id="consultprjctsubtype">
                                                            <div class="form-group custom-form-group ">
                                                                <label> Project Account Type </label>

                                                            </div>
                                                        </div>



                                                        <div class="col-md-4">
                                                            <div class="form-group custom-form-group ">
                                                                <label> Funding Category </label>

                                                            </div>
                                                        </div>

                                                    </div>


                                                </div>
                                            }


                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab3">
                                        <div class="col-md-12 col-sm-12 mb30">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h3 class="spl-title">Principal Investigator Details</h3>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="col-md-3 fn-normal">Department of PI</label>
                                                <label class="col-md-3 fn-normal"> Name of PI </label>
                                                <label class="col-md-3 fn-normal"> Email </label>
                                            </div>
                                            <div class="row">

                                                <div class="col-md-3">
                                                    <label>@Model.PIDepartment</label>
                                                </div>
                                                <div class="col-md-3 bost-sel-ht-sm">
                                                    <label>@Model.PIName</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <label>@Model.PIEmail</label>
                                                </div>


                                            </div>

                                        </div>
                                        <div class="col-md-12 col-sm-12 mb30">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h3 class="spl-title">Co Investigator Details</h3>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">

                                                    <div id="divContent">
                                                        <div class="row">
                                                            <b class="col-md-3 fn-normal">Department of Co PI</b>
                                                            <b class="col-md-3 fn-normal"> Name of Co PI </b>
                                                            <b class="col-md-3 fn-normal"> Email </b>
                                                        </div>

                                                        <div class="m-b-sm row" id="primaryDiv">
                                                            @if (Model.CoPiDetails.Count > 0)
                                                            {
                                                                for (int i = 0; i < Model.CoPiDetails.Count; i++)
                                                                {
                                                                    <div class="col-md-3" id="copidprt">
                                                                        <b>@Model.CoPiDetails[i].PIDepartment</b>
                                                                    </div>

                                                                    <div class="col-md-3 bost-sel-ht-sm" id="copinam">
                                                                        <b>@Model.CoPiDetails[i].PIName</b>
                                                                    </div>
                                                                    <div class="col-md-3" id="copimail">
                                                                        <b>@Model.CoPiDetails[i].Email</b>
                                                                    </div>
                                                                }

                                                            }
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 mb30">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h3 class="spl-title">Co Investigator from Other Institute</h3>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">

                                                    <div id="divotherinstcopiContent">
                                                        <div class="row">
                                                            <label class="col-md-3 fn-normal">Institute of Co PI</label>
                                                            <label class="col-md-3 fn-normal">Department of Co PI</label>
                                                            <label class="col-md-3 fn-normal"> Name of Co PI </label>
                                                            <label class="col-md-2 fn-normal"> Remarks </label>
                                                        </div>

                                                        <div class="m-b-sm row" id="primaryotherinstcopiDiv">
                                                            @if (Model.CoPiOtherInstitute.Count > 0)
                                                            {
                                                                for (int i = 0; i < Model.CoPiOtherInstitute.Count; i++)
                                                                {
                                                                    <div class="col-md-3">
                                                                        <b>@Model.CoPiOtherInstitute[i].Institute</b>
                                                                    </div>

                                                                    <div class="col-md-3">
                                                                        <b>@Model.CoPiOtherInstitute[i].Department</b>
                                                                    </div>

                                                                    <div class="col-md-3">
                                                                        <b>@Model.CoPiOtherInstitute[i].CoPIName</b>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <b>@Model.CoPiOtherInstitute[i].Remarks</b>
                                                                    </div>
                                                                }
                                                            }


                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        @if (Model.ScientistName != null)
                                        {
                                            <div class="col-md-12 col-sm-12 mb30">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h3 class="spl-title">scientist</h3>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">

                                                        <div>
                                                            <div class="row">
                                                                <label class="col-md-3 fn-normal">Name</label>
                                                                <label class="col-md-3 fn-normal">Email</label>
                                                                <label class="col-md-3 fn-normal">Mobile </label>
                                                                <label class="col-md-3 fn-normal">Address</label>
                                                            </div>

                                                            <div class="m-b-sm row">

                                                                <div class="col-md-3">
                                                                    <b>@Model.ScientistName</b>
                                                                </div>

                                                                <div class="col-md-3">
                                                                    <b>@Model.ScientistEmai</b>
                                                                </div>

                                                                <div class="col-md-3">
                                                                    <b>@Model.ScientistMobile</b>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <b>@Model.ScientistAddress</b>
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>

                                    <div class="tab-pane fade" id="tab4">
                                        <div class="col-md-12 col-sm-12 mb30">


                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group custom-form-group">
                                                        <label>Is Year Wise Allocation:</label>
                                                        <b>@Model.YearWiseAllocation</b>
                                                    </div>
                                                </div>
                                            </div>
                                            @if (@Model.YearWiseAllocation == "Yes")
                                            {
                                                <div id="YWHead" class="row dis-none gray-bg p-b-md">
                                                    <div id='YWtabs' class="custom-tab-ul page-wrapper">

                                                        <ul class="nav nav-pills">
                                                            <li class="active"><a data-toggle="pill" href="#Year1">Year 1</a></li>
                                                        </ul>

                                                        <div class="tab-content white-bg">
                                                            <div id="divStaticEMI" class="col-md-6 dis-none m-b-sm">
                                                                <div>
                                                                    <label name="lblEMI"></label>

                                                                </div>
                                                            </div>
                                                            <div id="Year1" class="tab-pane fade in active">
                                                                <div class="">
                                                                    @Html.Hidden("YearWiseHead[0].Year", "1")
                                                                    <div name="divAllocateContent" class="gray-lg-bg-md">
                                                                        <div class="row">
                                                                            <label class="col-md-4">Allocation Head</label>
                                                                            <label class="col-md-4"> Allocation Type </label>
                                                                            <label class="col-md-3"> Allocation Value </label>
                                                                        </div>

                                                                        <div name="primaryAllocateDiv" class="row m-b-sm">
                                                                            <div class="col-md-4">

                                                                            </div>
                                                                            <div class="col-md-4">
                                                                                <div>
                                                                                    <label class="fn-normal" name="lblRecurring"></label>

                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-3">


                                                                            </div>

                                                                            <div class="col-md-1">
                                                                                <button class="dis-none btn-sm btn btn-danger" type="button" name="removeButton"><i class="ion-android-close"></i></button>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row p-b-sm">
                                                                            <div class="col-md-11">
                                                                                <h4 class="text-right">
                                                                                    Total Allocation : <label name="lblTtlYearVal"> </label>
                                                                                    <button type="button" name="btnAddYWAllocation" class="btn-primary btn pull-left"><i class="ion-android-add"></i>Add</button>
                                                                                </h4>
                                                                            </div>
                                                                        </div>
                                                                    </div>





                                                                    <div class="gray-bg-md">
                                                                        <div class="row m-b-sm">

                                                                            <div class="col-md-6">
                                                                                <label class="fn-normal">No of Installment</label>


                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <label class="fn-normal">Installment Value</label>


                                                                            </div>


                                                                        </div>
                                                                        <div name="divDynEMI" class="row">


                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <h4 class="text-right">Total Installment : <label name="lblEMIYearVal"> </label></h4>
                                                                            </div>
                                                                        </div>
                                                                    </div>




                                                                </div>

                                                            </div>


                                                        </div>
                                                    </div>

                                                </div>
                                            }
                                            else
                                            {
                                                <div id="OAHead" class="row">
                                                    <div id="divAllocateContent" class="gray-lg-bg-md">
                                                        <div class="row">
                                                            <label class="col-md-4">Allocation Head</label>
                                                            <label class="col-md-4"> Allocation Type </label>
                                                            <label class="col-md-4"> Allocation Value </label>
                                                        </div>
                                                        @{
                                                            decimal Total = 0;
                                                        }
                                                        <div id="primaryAllocateDiv" class="row m-b-sm">
                                                            @if (Model.Allocation.Count > 0)
                                                            {
                                                                {
                                                                    Total = Model.Allocation.Select(m => m.AllocationValue).Sum();
                                                                }
                                                                for (int i = 0; i < Model.Allocation.Count; i++)
                                                                {
                                                                    <div class="col-md-4">
                                                                        <b>@Model.Allocation[i].AllocationHead</b>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <b>@Model.Allocation[i].AllocationType</b>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <b>@Model.Allocation[i].AllocationValue</b>
                                                                    </div>

                                                                }
                                                            }
                                                        </div>
                                                        <div class="row p-b-sm">
                                                            <div class="col-md-11">
                                                                <h4 class="text-right">
                                                                    Total Allocation : <label id="lblTtlVal">@Total</label>
                                                                </h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @{
                                                        var TotInstalment = Model.Instalment.Select(m => m.NoOfInstalment).Distinct();
                                                    }

                                                    <div class="gray-bg-md">
                                                        <div class="row m-b-sm">

                                                            <div class="col-md-6">
                                                                <label class="fn-normal">No of Installment:</label>
                                                                <b>@Model.Instalment[0].NoOfInstalment</b>
                                                            </div>



                                                        </div>
                                                        <div id="divStaticOAEMI" class="col-md-6 ">
                                                            @if (Model.Instalment.Count > 0)
                                                            {
                                                                for (int i = 0; i < Model.Instalment.Count; i++)
                                                                {
                                                                    var No = 1 + i;
                                                                    <div class="col-md-4">
                                                                        <label>Instalment</label><b>@Model.Instalment[i].InstalmentAmount</b>
                                                                    </div>
                                                                }
                                                            }
                                                        </div>
                                                        <div class="row p-b-sm">
                                                            <div class="col-md-11">
                                                                <h4 class="text-right">Total Installment : <label id="lblEMIVal">@Model.Instalment[0].InstalmentAmount </label></h4>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                                        }



                                            <div class="row" id="constaxservicemode">
                                                <div class="col-md-4">
                                                    <div class="form-group custom-form-group ">
                                                        <label> Tax Service: </label>
                                                        <b></b>
                                                    </div>
                                                </div>
                                                <div class="col-md-4" id="taxregistatus">
                                                    <div class="form-group custom-form-group ">
                                                        <label> Registration Status </label>

                                                    </div>
                                                </div>



                                                <div class="col-md-4" id="indprojectstate">
                                                    <div class="form-group custom-form-group">
                                                        <label>State of funding agency</label>

                                                    </div>
                                                </div>
                                                <div class="col-md-4" id="indprojectlocation">
                                                    <div class="form-group custom-form-group">
                                                        <label>Location of Funding Agency</label>


                                                    </div>
                                                </div>


                                                <div class="col-md-3" id="forignprojectcntry">
                                                    <div class="form-group custom-form-group">
                                                        <label>Country</label>

                                                    </div>
                                                </div>
                                                <div class="col-md-3" id="forignprojectstate">
                                                    <div class="form-group custom-form-group">
                                                        <label>State</label>

                                                    </div>
                                                </div>
                                                <div class="col-md-3" id="forignprojectlocation">
                                                    <div class="form-group custom-form-group">
                                                        <label>Location</label>

                                                    </div>
                                                </div>
                                            </div>


                                        </div>

                                    </div>
                                    <div class="tab-pane fade" id="tab5">
                                        <div class="col-md-12 col-sm-12 mb30">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group custom-form-group">
                                                        <label>Total Number of Staffs:</label>
                                                        <b>@Model.TotalNoOfStaff</b>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group custom-form-group">
                                                        <label>Categorywise breakup of Staffs</label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">

                                                        <div id="divContent">
                                                            <div class="row">
                                                                <b class="col-md-3 fn-normal">Category</b>
                                                                <b class="col-md-3 fn-normal"> No. of staffs </b>
                                                                <b class="col-md-3 fn-normal"> Salary(in Rs.) </b>
                                                            </div>

                                                            <div class="m-b-sm row" id="primaryDiv">
                                                                @if (Model.Staff.Count > 0)
                                                                {
                                                                    for (int i = 0; i < Model.Staff.Count; i++)
                                                                    {
                                                                        <div class="col-md-3" id="copidprt">
                                                                            <b>@Model.Staff[i].Catagory</b>
                                                                        </div>

                                                                        <div class="col-md-3 bost-sel-ht-sm" id="copinam">
                                                                            <b>@Model.Staff[i].NoofStaffs</b>
                                                                        </div>
                                                                        <div class="col-md-3" id="copimail">
                                                                            <b>@Model.Staff[i].Salary</b>
                                                                        </div>
                                                                    }

                                                                }
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="col-md-3">
                                                            <div class="form-group custom-form-group">
                                                                <label class="mt10"><b>Total Summary</b></label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group custom-form-group">
                                                                <b>@Model.TotalNoOfStaff</b>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group custom-form-group">
                                                                <b>@Model.TotalSalary</b>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>



                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group custom-form-group">
                                                        <label>Joint Development with other Companies:</label>
                                                        <b>@Model.JointdevelopmentQuestion</b>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    @if (Model.JointdevelopmentQuestion == "Yes")
                                                    {
                                                        <div id="divContent">
                                                            <div class="row">
                                                                <b class="col-md-4 fn-normal">Company Name</b>
                                                                <b class="col-md-4 fn-normal">Remarks</b>
                                                            </div>

                                                            <div class="m-b-sm row" id="primaryDiv">
                                                                @if (Model.OtherStaff.Count > 0)
                                                                {
                                                                    for (int i = 0; i < Model.OtherStaff.Count; i++)
                                                                    {
                                                                        <div class="col-md-4" id="copidprt">
                                                                            <b>@Model.OtherStaff[i].CompanyName</b>
                                                                        </div>

                                                                        <div class="col-md-4 bost-sel-ht-sm" id="copinam">
                                                                            <b>@Model.OtherStaff[i].Remarks</b>
                                                                        </div>

                                                                    }

                                                                }
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="tab6">
                                        <div class="col-md-12 col-sm-12 mb30">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group custom-form-group">
                                                        <label>Agency:</label>
                                                        <b>@Model.Agency</b>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group custom-form-group">
                                                        <label>Agency Code:</label>
                                                        <b>@Model.AgencyCode</b>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group custom-form-group">
                                                        <label>Agency Registered Name:</label>
                                                        <b>@Model.AgencyRegName</b>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group custom-form-group">
                                                        <label>Agency Registered Address:</label>
                                                        <b>@Model.AgencyRegAddr</b>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group custom-form-group">
                                                        <label>Contact Person:</label>
                                                        <b>@Model.ContactPerson</b>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group custom-form-group">
                                                        <label>Designation:</label>
                                                        <b>@Model.Designation</b>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group custom-form-group">
                                                        <label>Email Id:</label>
                                                        <b>@Model.AgencyEmail</b>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group custom-form-group">
                                                        <label>Contact Number:</label>
                                                        <b>@Model.ContactNo</b>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group custom-form-group">
                                                        <label>Contact Address:</label>
                                                        <b>@Model.ContactAddr</b>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group custom-form-group">
                                                        <label>Tentative Start Date:</label>
                                                        <b>@Model.TentativeStartDate</b>

                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group custom-form-group">
                                                        <label>Tentative Close Date:</label>
                                                        <b>@Model.TentativeCloseDate</b>
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group custom-form-group">
                                                        <label>Project Due Date:</label>
                                                        <b>@Model.TentativeDueDate</b>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">

                                                <div class="col-md-4">
                                                    <div class="form-group custom-form-group">
                                                        <label>Tax Status:</label>
                                                        <b>@Model.TaxStatus</b>

                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group custom-form-group ">
                                                        <label> GSTIN: </label>
                                                        <b>@Model.GSTIn</b>
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group custom-form-group ">
                                                        <label> PAN: </label>
                                                        <b>@Model.PAN</b>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">

                                                <div class="col-md-4">
                                                    <div class="form-group custom-form-group ">
                                                        <label> TAN: </label>
                                                        <b>@Model.TAN</b>

                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group custom-form-group">
                                                        <label>Remarks:</label>
                                                        <b>@Model.Remarks</b>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab7">
                                        <div class="col-md-12 col-sm-12 mb30">
                                            <div class="row">
                                                <div class="col-md-12">


                                                    <div id="DocdivContent">
                                                        <div class="row">
                                                            <label class="col-md-3 fn-normal">Attachment type</label>
                                                            <label class="col-md-3 fn-normal">Attachment Name </label>
                                                            <label class="col-md-3 fn-normal">Attachment </label>
                                                        </div>

                                                        <div class="m-b-sm row" id="DocprimaryDiv">
                                                            @if (Model.DocDetail.Count > 0)
                                                            {
                                                                for (int i = 0; i < Model.DocDetail.Count; i++)
                                                                {
                                                                    <div class="col-md-3">
                                                                        <b>@Model.DocDetail[i].AttachementType</b>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <b>@Model.DocDetail[i].AttachementName</b>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <b>@Model.DocDetail[i].Attachment</b>
                                                                    </div>
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>


                </div>

            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>

</div>
