@model IOAS.Models.SummerInternshipModel
@{
    ViewBag.Title = "Summer Internship";
    ViewBag.Subtitle = "Summer Internship Student List";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}
<div class="row hd-tt-bg">
    <div class="col-md-4">
        <h3>Summer Internship Student List</h3>
    </div>
    <div id="addnewpage" class="col-md-8 flt-nav-links">

        <a href="Javascript:void(0)" id="btnFilter" class="pull-right"> <i class="ion-android-funnel"></i>Filters</a>
        <a href="@Url.Action("SummerInternshipStudent")"> <i class="ion-plus"></i>Add New</a>

    </div>
</div>
<div class="row mt30" id="gridlist">
    <div class="page-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="custom-jsgrid-normal">
                    <div id="SummerInternshipStudentList"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="popup" ></div>
<div id="popupFilter" class="filter-popup">
    <div class="">
        <div class="filter-content">
            <div class="white-bg">
                <div class="form-group custom-form-group">
                    <h3>Filter by</h3>
                </div>

                <div class="form-group custom-form-group">
                    @Html.TextBoxFor(m => m.SearchField.ProjectNumber, new { @id = "srchprojectnumber", @placeholder = "Project Number", @class = "form-control" })
                </div>

                <div class="form-group custom-form-group">
                    @Html.TextBoxFor(m => m.SearchField.SummerInternshipNumber, new { @id = "srchinternnumber", @placeholder = "Summer Internship Number", @class = "form-control" })
                </div>
                <div class="form-group custom-form-group">
                    @Html.TextBoxFor(m => m.SearchField.PIName, new { @id = "srchPIName", @placeholder = "PI Name", @class = "form-control" })
                    @*@Html.DropDownListFor(m => m.SearchField.PIName, new SelectList(ViewBag.PI, "id", "name"), "PI Name", new { @id = "srchPIName", @class = "form-control" })*@
                </div>
                <div class="form-group custom-form-group">
                    @Html.TextBoxFor(m => m.SearchField.StudentName, new { @id = "srchStudentName", @placeholder = "Student Name", @class = "form-control" })
                    @*@Html.DropDownListFor(m => m.SearchField.PIName, new SelectList(ViewBag.PI, "id", "name"), "PI Name", new { @id = "srchPIName", @class = "form-control" })*@
                </div>
                <div class="form-group custom-form-group">
                    @Html.TextBoxFor(m => m.SearchField.CollegeName, new { @id = "srchCollegeName", @placeholder = "College Name", @class = "form-control" })
                    @*@Html.DropDownListFor(m => m.SearchField.PIName, new SelectList(ViewBag.PI, "id", "name"), "PI Name", new { @id = "srchPIName", @class = "form-control" })*@
                </div>
                <div class="form-group custom-form-group">
                    <label>Search by</label><br>
                    <label class="radio chkbox-adj">
                        @Html.RadioButtonFor(m => m.SearchField.SearchBy, "InternshipDate", new { @id = "SearchBy_InternshipDate", @checked = "checked" })
                        <span></span>
                        Internship Date
                    </label>
                    <label class="radio chkbox-adj">
                        @Html.RadioButtonFor(m => m.SearchField.SearchBy, "CreatedDate", new { @id = "SearchBy_CreatedDate" })
                        <span></span>
                        Created Date
                    </label>
                </div>
                <div id="DivSIDate" class="form-group custom-form-group">
                    <label class="full-width">Internship Date</label>
                    @Html.TextBoxFor(m => m.SearchField.FromSIDate, new { @id = "FromSIDate", @class = "form-control half-form" })
                    @Html.TextBoxFor(m => m.SearchField.ToSIDate, new { @id = "ToSIDate", @class = "form-control half-form" })
                </div>
                <div id="DivCrtdDate" class="form-group custom-form-group">
                    <label class="full-width">Created Date</label>
                    <label class="half-form">From Date </label>
                    @Html.TextBoxFor(m => m.SearchField.FromDate, new { @id = "FromDate", @class = "form-control half-form" })
                    <label class="half-form">To Date </label>
                    @Html.TextBoxFor(m => m.SearchField.ToDate, new { @id = "ToDate", @class = "form-control half-form" })
                </div>
                <div class="form-group custom-form-group mt30 text-center">
                    <a id="btnReset" href="javascript:void(0)">Reset</a>
                </div>
                <div class="form-group custom-form-group mt30 text-center">
                    <button id="btnSearch" type="button" class="btn btn-primary mr10">Search</button>
                    <button name="btnClose" type="button" class="btn btn-default">Close</button>
                </div>

            </div>
        </div>

    </div>

    <a href="javascript:void(0)" name="btnClose" class="close-btn"><i class="ion-android-cancel"></i></a>

</div>
<script type="text/javascript">
    var errMsg = '@TempData["errMsg"]';
    var succMsg = '@TempData["succMsg"]';
    $(document).ready(function () {
        var SearchBy = $('input[name^="SearchField.SearchBy"]:checked').val();
        if (SearchBy == 'InternshipDate') {
            $('#DivSIDate').show();
            $('#DivCrtdDate').hide();
        }
        else {
            $('#DivCrtdDate').show();
            $('#DivSIDate').hide();
        }
        $("#FromSIDate, #ToSIDate, #FromDate, #ToDate").datepicker
           ({
               dateFormat: 'dd-MM-yy',
               showStatus: true,
               showWeeks: true,
               changeYear: true,
               yearRange: '-100:+100',
               highlightWeek: true,
               numberOfMonths: 1,
               showAnim: "scale",
               showOptions: {
                   origin: ["top", "left"]
               }
           });

    });
    $(document).ready(function () {
        if (succMsg != '') {
            $('#alertSuccess').html(succMsg);
            $('#Success').modal('toggle');
        }
        else if (errMsg != '') {
            $('#FailedAlert').html(errMsg);
            $('#Failed').modal('toggle');
        }
    });
    var DateField = function (config) {
        jsGrid.Field.call(this, config);
    };

    DateField.prototype = new jsGrid.Field({
        sorter: function (date1, date2) {
            return new Date(date1) - new Date(date2);
        },

        itemTemplate: function (value) {
            return new Date(value).toDateString();
        },

        filterTemplate: function () {
            var now = new Date();
            this._fromPicker = $("<input>").datepicker({ defaultDate: now.setFullYear(now.getFullYear() - 1), changeYear: true });
            this._toPicker = $("<input>").datepicker({ defaultDate: now.setFullYear(now.getFullYear() + 1), changeYear: true });
            return $("<div>").append(this._fromPicker).append(this._toPicker);
        },

        insertTemplate: function (value) {
            return this._insertPicker = $("<input>").datepicker({ defaultDate: new Date() });
        },

        editTemplate: function (value) {
            return this._editPicker = $("<input>").datepicker().datepicker("setDate", new Date(value));
        },

        insertValue: function () {
            return this._insertPicker.datepicker("getDate").toISOString();
        },

        editValue: function () {
            return this._editPicker.datepicker("getDate").toISOString();
        },

        filterValue: function () {
            return {
                from: this._fromPicker.datepicker("getDate"),
                to: this._toPicker.datepicker("getDate")
            };
        }
    });
    jsGrid.fields.date = DateField;
    var db;
    $("#SummerInternshipStudentList").jsGrid({
        paging: true,
        pageIndex: 1,
        pageSize: 5,
        editing: false,
        filtering: true,
        controller: {

            loadData: function (filter) {
                return $.grep(db, function (ow) {
                    return (!filter.BillNumber || ow.BillNumber.toLowerCase().indexOf(filter.BillNumber.toLowerCase()) > -1)
                   && (!filter.RequestedDate.from || new Date(ow.RequestedDate) >= filter.RequestedDate.from)
                   && (!filter.RequestedDate.to || new Date(ow.RequestedDate) <= filter.RequestedDate.to);
                });
            }

        },

        fields: [
            { name: "SlNo", title: "S.No", editing: false, width: 10 },
            { type: "number", name: "SummrInternStudentId", title: "Id", visible: false, align: "left" },
            { type: "number", name: "Projectid", title: "Project Id", visible: false, align: "left" },
            { type: "number", name: "ProjectNumber", title: "Project Number", align: "left", width: 70 },
            { type: "text", name: "StudentName", title: "Student Name", editing: false, align: "left", width: 70 },
            { type: "text", name: "College", title: "College / Institute", editing: false, align: "left", width: 70 },
            { type: "text", name: "SummerInternshipNumber", title: "Summer Internship Number", editing: false, align: "left", width: 70 },
            { type: "text", name: "Duration", title: "Internship Duration", editing: false, align: "left", width: 70 },
           // { name: "RequestedDate", title: "Requested Date", type: "date", align: "left", width: 70 },
           // { name: "TotalExpenseValue", title: "Total Expense", editing: false },
            { name: "TotalStipendValue", title: "Total Stipend", editing: false, align: "left", width: 70 },
            { name: "Status", title: "Status", editing: false, align: "left", width: 60 },
             {
                 type: "control", editButton: false, deleteButton: false, title: "Action", width: 80,
                 itemTemplate: function (value, item) {
                     var $result = jsGrid.fields.control.prototype.itemTemplate.apply(this, arguments);
                     if (item.Status == "Open") {
                         statusList = [{ id: "", name: "Select Action" }, { id: "Edit", name: "Edit" }, { id: "Approve", name: "Approve" }, { id: "View", name: "View" }]
                     } else if (item.Status == "Approval Pending") {
                         statusList = [{ id: "", name: "Select Action" }, { id: "View", name: "View" }]
                     } else if (item.Status == "Approved") {
                         statusList = [{ id: "", name: "Select Action" }, { id: "View", name: "View" }]
                     }
                     else if (item.Status == "Completed") {
                         statusList = [{ id: "", name: "Select Action" }, { id: "View", name: "View" }]
                     }
                     else
                     {
                         statusList = [{ id: "", name: "Select Action" },{ id: "View", name: "View" }]
                     }
                     var $customSelect = $("<select>")
                         .attr("class", "form-control").prop("selectedIndex", "")
                    
                     $.each(statusList, function (index, itemData) {
                         $customSelect.append($('<option/>', {
                             
                             value: itemData.id,
                             text: itemData.name
                         }));
                     });

                     $customSelect.change(function (e) {
                         var selVal = $(this).val();
                         @*if (selVal == "Delete") {
                             var choice = confirm("Are you sure, Do you want to delete this bill?");
                             if (choice === true) {
                                 $.ajax({
                                     type: "POST",
                                     url: '@Url.Action("DeleteSummerInternship", "CoreAccounts")',
                                     data: {
                                         travelBillId: item.TravelBillId
                                     },
                                     success: function (result) {
                                         if (result == true) {
                                             $('#alertSuccess').html("Advance bill has been deleted successfully.");
                                             $('#Success').modal('toggle');
                                             loadDetails();
                                         } else if (result == false) {
                                             $('#FailedAlert').html("Something went wrong please contact administrator");
                                             $('#Failed').modal('toggle');
                                         }
                                     },
                                     error: function (err) {
                                         console.log("error1 : " + err);
                                     }
                                 });
                             }
                         } else*@
                          if (selVal == "Edit") {
                             var url = '@Url.Action("SummerInternshipStudent", "CoreAccounts")?internId=' + item.SummrInternStudentId;
                             window.location.href = url;
                         }
                          else if (selVal == "Approve") {
                             var approveurl = 'SummerInternshipApprove';
                             var choice = confirm("Are you sure, Do you want to submit this Summer Internship Payment for approval process?");
                             if (choice === true) {
                                 
                                     $.ajax({
                                         type: "GET",
                                         url: approveurl,
                                         data: { InternId: item.SummrInternStudentId },
                                         contentType: "application/json; charset=utf-8",
                                         success: function (result) {
                                             
                                             if (result.status == true) {
                                                 $('#alertSuccess').html("Summer Internship has been approved successfully.");
                                                 $('#Success').modal('toggle');
                                                 loadDetails();
                                             } else if (result.status == false) {
                                                 $('#FailedAlert').html("Something went wrong please contact administrator");
                                                 $('#Failed').modal('toggle');
                                             }
                                         },
                                         error: function (err) {
                                             console.log("error1 : " + err);
                                         }
                                     });
                                     var getSummerInternshipList = 'GetSummerInternshipStudentList'
                                     $.ajax({
                                         type: "GET",
                                         url: getSummerInternshipList,
                                         data: param = "",
                                         contentType: "application/json; charset=utf-8",
                                         success: function (result) {
                                             // dataProposal = result;
                                             $("#SummerInternshipStudentList").jsGrid({ data: result });
                                             $('#gridlist').show();
                                             $('#addnewpage').show();
                                         },
                                         error: function (err) {
                                             console.log("error : " + err);
                                         }
                                     });
                                 }
                         }
                         else if (selVal == "View") {
                             var url = '@Url.Action("SummerInternshipStudentView", "CoreAccounts")?internId=' + item.SummrInternStudentId;
                             window.location.href = url;
                         }
                         $(this).val("");
                         return false;
                         e.stopPropagation();
                     });

                     return $result.add($customSelect);
                 },
                 _createFilterSwitchButton: function () {
                     return this._createOnOffSwitchButton("filtering", this.searchModeButtonClass, false);
                 }
             }


        ],

    });
    $("#SummerInternshipStudentList").jsGrid("option", "filtering", false);
    loadDetails();
    function loadDetails() {     
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetSummerInternshipStudentList", "CoreAccounts")',
            data: { },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                    db = result;
                    $("#SummerInternshipStudentList").jsGrid({ data: db });
            },
            error: function (err) {
                console.log("error : " + err);
            }

        });
    }
    $('input[id^="SearchBy_"]').change(function () {
        var value = $(this).val();
        if (value == 'InternshipDate') {
            $('#DivSIDate').show();
            $('#DivCrtdDate').hide();
        }
        else {
            $('#DivCrtdDate').show();
            $('#DivSIDate').hide();
        }
        $('#FromSIDate').val('');
        $('#ToSIDatex ').val('');
        $('#FromDate').val('');
        $('#ToDate').val('');
    });
    $('a[name="btnClose"],button[name="btnClose"]').click(function () {
        $('#popupFilter').css("display", "none");
    });
    $("#btnFilter").click(function () {
        $('#popupFilter').css("display", "Block");
    });

    function ResetForm() {
        $('#srchprojectnumber').val('');
        $('#srchinternnumber').val('');
        $('#srchPIName').val('');
        $('#srchCollegeName').val('');
        $('#srchStudentName').val('');
        $('#FromDate').val('');
        $('#ToDate').val('');
        $('#FromSIDate').val('');
        $('#ToSIDate').val('');
    }
    $('#btnReset').click(function () {
        ResetForm();
        getData(1);
    });
    $('#btnSearch').on('click', function () {
        // var token = $("input[name=__RequestVerificationToken]").val();
        getData(1);
    });
    var searchInternshipStudentURL = 'SearchSummerInternshipList';
    function getData(page) {
        
        var Projectnumber = $('#srchprojectnumber').val();
        var Internnumber = $('#srchinternnumber').val();
        var PIName = $('#srchPIName').val();
        var SearchBy = $('input[name^="SearchField.SearchBy"]:checked').val();
        var FromDate = $('#FromDate').val();
        var ToDate = $('#ToDate').val();
        var FromSIDate = $('#FromSIDate').val();
        var ToSIDate = $('#ToSIDate').val();
        var CollegeName = $('#srchCollegeName').val();
        var StudentName = $('#srchStudentName').val();

        if (Projectnumber == "") {
            Projectnumber = null;
        }
        if (Internnumber == "") {
            Internnumber = null;
        }
        if (PIName == "") {
            PIName = null;
        }
        if (CollegeName == "") {
            CollegeName = null;
        }
        if (StudentName == "") {
            StudentName = null;
        }
        if (FromDate == "") {
            FromDate = null;
        }
        if (ToDate == "") {
            ToDate = null;
        }
        if (FromSIDate == "") {
            FromSIDate = null;
        }
        if (ToSIDate == "") {
            ToSIDate = null;
        }
        //  var searchdata = { "__RequestVerificationToken": token, "ProjectType": Projecttype,"ProposalNumber": Proposalnumber, "PIname": PIName, "Searchby": SearchBy, "FromSOdate": FromSODate, "ToSOdate": ToSODate, "Fromdate": FromDate, "Todate": ToDate };
        var searchdata = {
            ProjectNumber: Projectnumber,
            PIName: PIName,
            SummerInternshipNumber: Internnumber,
            CollegeName: CollegeName,
            StudentName: StudentName,
            FromDate: FromDate,
            ToDate: ToDate,
            FromSIDate: FromSIDate,
            ToSIDate: ToSIDate,
        };

        $.ajax({
            type: "GET",
            url: searchInternshipStudentURL,
            data: searchdata,
            //data: { "ProjectType": Projecttype, "ProposalNumber": Proposalnumber, "FromSOdate": FromSODate, "ToSOdate": ToSODate, },
            //contentType: "application/x-www-form-urlencoded",
            dataType: "json",
            success: function (result) {
                // dataProposal = result;
                $("#SummerInternshipStudentList").jsGrid({ data: result });
                //   $('#popupFilter').hide();
            },
            error: function (err) {
                console.log("error : " + err);
            }
        });
    }
</script>
