
@model IOAS.Models.PagedData<IOAS.Models.OfficeOrderModel>
@{
    ViewBag.Title = "Office Order";
    ViewBag.Subtitle = "Office Order";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}

@Html.AntiForgeryToken()
<div class="wrapper">
    <div class="rgt-cnt">
        <div class="row hd-tt-bg">
            <div class="col-md-12">
                <h4><b>Office Order </b></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <aside class="right-side sidebar-offcanvas">
                    @using (Html.BeginForm("List", "Reports", new { page = 1 }, FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.ValidationSummary(true, "Please correct the errors and try again.", new { @class = "alert alert-block alert-error" })
                        <fieldset>
                            <section class="content">
                                <div class="white-bg">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="page-wrapper">

                                                @Html.Partial("OrderList")

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-md-4">

                                            <div class="form-actions">
                                                <a href='@Url.Action("AddEntry", "OfficeOrder")' role="button" class="btn btn-primary  btn-md">ADD</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </section>

                        </fieldset>


                    }


                </aside> <!-- right pane -->
            </div>

        </div>

    </div>
</div>




<script type="text/javascript">

    $(document).ready(function () {
        var firstpage = 1
        var lastpage = '@Model.TotalPages';
        var currentPage = $('#currentPage').text();

        if (parseInt(currentPage, 10) === parseInt(lastpage, 10)) {
            $('#lastPage').addClass('disabled');
            $('#nextPage').addClass('disabled');
        }
        else if (parseInt(currentPage, 10) === parseInt(firstpage, 10)) {
            $('#firstPage').addClass('disabled');
            $('#previousPage').addClass('disabled');
        }
        $('a[name="pageButton"]').click(function () {
            var pageNo = 1;
            if ($(this).text() === 'First') {
                pageNo = 1;
            }
            else if ($(this).text() === 'Last') {
                pageNo = lastpage;
            }
            else if ($(this).text() === 'Previous') {
                if (parseInt($('#currentPage').text(), 10) > 1) {
                    pageNo = parseInt($('#currentPage').text(), 10) - 1;
                }

            }
            else if ($(this).text() === 'Next') {

                pageNo = parseInt($('#currentPage').text(), 10) + 1;
            }
            else {
                pageNo = $(this).text();
            }
            var papername = $('#txtSearchText').val();
            var model = papername;
            getData(pageNo, model);
        });
    });

    function getData(page, model) {
        var token = $("input[name=__RequestVerificationToken]").val();
        var searchdata = { "__RequestVerificationToken": token, "model": model, "page": page };
        //alert($("input[name=__RequestVerificationToken]").val());

        $.ajax({
            url: '@Url.Action("List", "StaffPayment")',
            type: "POST",
            contentType: "application/x-www-form-urlencoded",
            data: searchdata,
            success: function (data) {
                $("#gridData").html(data);
            }
        });

    }

    function validateRequired() {
        $('#errorMsg').html("");
        var valid = true;
        $("[id^=flowFile]").each(function (index, item) {
            var controlId = $(item).attr("id");
            if ($('#' + controlId).prop('required') && $('#' + controlId).val() === "") {
                $('#errorMsg').html("Please upload all required documents.");
                valid = false;
                return valid;
            }

        });
        return valid;
    }

    function clearUploadText() {
        $("[id^=flowFile]").each(function (index, item) {
            var controlId = $(item).attr("id");
            $('#' + controlId).val("");
        });
    }
</script>
